Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

feat: enforce deterministic runtime and golden datasets
  conftest.py
  core/utils/__init__.py
  core/utils/clock.py
  core/utils/determinism.py
  data/golden/README.md
  data/golden/indicator_macd_baseline.csv
  docs/operational_handbook.md
  scripts/README_data_sanity.md
  scripts/_runtime_core.py
  scripts/data_sanity.py
  tests/scripts/test_runtime.py
  tests/tolerances.py
  tests/unit/data/test_golden_datasets.py
  tests/unit/scripts/test_data_sanity.py
  tests/unit/utils/test_clock.py
Owners: @neuron7x/qa-team, @neuron7x/core-team, @neuron7x/documentation-team

docs: add system architecture diagrams
  README.md
  docs/architecture/system_overview.md
  docs/product_readme.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

docs: enrich indicator and execution docstrings
  backtest/engine.py
  core/indicators/kuramoto.py
  core/indicators/ricci.py
  execution/order.py
  execution/risk.py
  interfaces/cli.py
Owners: @neuron7x/core-team

docs: enrich governance docstrings across analytics stack
  backtest/engine.py
  core/indicators/kuramoto.py
  core/indicators/ricci.py
  execution/order.py
  execution/risk.py
  interfaces/cli.py
Owners: @neuron7x/core-team

docs: add architecture diagrams
  DEPLOYMENT.md
  README.md
  docs/architecture/assets/data_flow.mmd
  docs/architecture/assets/data_flow.svg
  docs/architecture/assets/feature_store_internals.mmd
  docs/architecture/assets/feature_store_internals.svg
  docs/architecture/assets/puppeteer-config.json
  docs/architecture/assets/service_interactions.mmd
  docs/architecture/assets/service_interactions.svg
  docs/architecture/assets/system_overview.mmd
  docs/architecture/assets/system_overview.svg
  docs/architecture/feature_store.md
  docs/architecture/system_overview.md
Owners: @neuron7x/documentation-team

Add quality gate tests and UI smoke automation
  .github/pull_request_template.md
  .github/workflows/pr-quality-labels.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .gitignore
  TESTING.md
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/tests/smoke.spec.ts
  interfaces/http/openapi/1.0.0.json
  schemas/http/json/1.0.0/feature_request.schema.json
  schemas/http/json/1.0.0/feature_response.schema.json
  schemas/http/json/1.0.0/prediction_request.schema.json
  schemas/http/json/1.0.0/prediction_response.schema.json
  src/audit/audit_logger.py
  tests/contracts/test_json_schema_contracts.py
  tests/contracts/test_openapi_contracts.py
  tests/data/test_quality_gate.py
  tests/security/test_audit_log_redaction.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Limit wheel builds to Python 3.11+
  .github/workflows/build-wheels.yml
Owners: @neuron7x/devops-team

Ensure build workflow uses bash where needed
  .github/workflows/build-wheels.yml
Owners: @neuron7x/devops-team

Improve parquet fallbacks without pyarrow
  core/data/feature_store.py
  core/utils/dataframe_io.py
  tests/nightly/test_heavy_workflows.py
  tests/unit/utils/test_dataframe_io.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/qa-team

Document regression test matrix
  TESTING.md
  tests/TEST_PLAN.md
Owners: @neuron7x/qa-team

ci: add coverage workflow and documentation updates
  .github/workflows/coverage.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/security-team

Add Sharpe ratio unit tests
  tests/unit/strategies/test_objectives.py
Owners: @neuron7x/qa-team

Add unit tests for strategy signals
  tests/unit/strategies/test_signals.py
Owners: @neuron7x/qa-team

test: add amm metrics unit tests
  tests/unit/analytics/test_amm_metrics.py
Owners: @neuron7x/qa-team

Add determinism utility unit tests
  tests/unit/utils/test_determinism.py
Owners: @neuron7x/qa-team

Guard index restore datetime parsing
  core/utils/dataframe_io.py
Owners: @neuron7x/core-team

Limit coverage workflow test scope
  .github/workflows/coverage.yml
Owners: @neuron7x/devops-team

Add admin kill-switch tests and centralized settings
  application/api/service.py
  application/settings.py
  docs/admin_remote_control.md
  interfaces/http/openapi/1.0.0.json
  src/admin/remote_control.py
  src/audit/audit_logger.py
  src/risk/risk_manager.py
  tests/admin/test_remote_control.py
  tests/api/test_service.py
  tests/contracts/test_openapi_contracts.py
  tests/unit/test_admin_settings.py
  tests/unit/test_audit_logger.py
  tests/unit/test_risk_manager_facade.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add unit tests for AMM metrics helpers
  tests/unit/analytics/test_amm_metrics.py
Owners: @neuron7x/qa-team

Include analytics module in coverage configuration
  CONTRIBUTING.md
  DEPENDENCY_SECURITY_AUDIT.md
  Makefile
  README.md
  TESTING.md
  docs/docker-quickstart.md
  docs/faq.md
  docs/quickstart.md
  docs/scenarios.md
  pyproject.toml
Owners: @neuron7x/documentation-team

Add websocket ingestion tests for Binance stream
  tests/unit/test_data_ingestion.py
Owners: @neuron7x/qa-team

Include analytics coverage in CI workflow
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

feat(web): add scenario export actions
  apps/web/app/page.tsx
  apps/web/tests/smoke.spec.ts
Owners: none

chore: drop stale example output data
  examples/analyze_output.json
  examples/backtest_output.json
Owners: none

feat: centralize scenario templates
  apps/web/app/ScenarioBuilderClient.tsx
  apps/web/app/page.tsx
  apps/web/lib/scenario-templates-types.ts
  apps/web/lib/scenario-templates.ts
  configs/scenarios/templates.json
  docs/scenarios.md
  interfaces/scenario_templates.py
  tests/unit/config/test_scenario_templates.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

feat(web): add online inference workflow
  apps/web/app/page.tsx
  apps/web/lib/inference.ts
  apps/web/tests/smoke.spec.ts
Owners: none

feat(web): add online inference workflow
  apps/web/app/page.tsx
  apps/web/lib/inference.ts
  apps/web/tests/smoke.spec.ts
Owners: none

Refactor dashboard analytics and add smoke test
  interfaces/cli.py
  interfaces/dashboard_streamlit.py
  tests/fixtures/dashboard_sample.csv
  tests/unit/test_dashboard_streamlit.py
Owners: @neuron7x/qa-team

Address lint issues in dashboard refactor
  interfaces/cli.py
  interfaces/dashboard_streamlit.py
  tests/fixtures/dashboard_sample.csv
  tests/unit/test_dashboard_streamlit.py
Owners: @neuron7x/qa-team

Use non-locked requirements in CI tests
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Improve dashboard error handling and telemetry guardrails
  interfaces/dashboard_streamlit.py
Owners: none

Fix wheel build workflow compatibility
  .github/workflows/build-wheels.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Factor telemetry posting helper for dashboard
  interfaces/dashboard_streamlit.py
  interfaces/dashboard_telemetry.py
  tests/unit/test_dashboard_telemetry.py
Owners: @neuron7x/qa-team

Use Python to list built wheels cross-platform
  .github/workflows/build-wheels.yml
Owners: @neuron7x/devops-team

Align wheel build matrix with supported Python versions
  .github/workflows/build-wheels.yml
  docs/installation.md
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Make dashboard smoke test use fixture override
  interfaces/dashboard_streamlit.py
  tests/unit/test_dashboard_streamlit.py
Owners: @neuron7x/qa-team

Enhance secret detector extension matching
  core/utils/security.py
  tests/unit/test_utils_security.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Handle inferred cadences in gap planning
  core/data/backfill.py
  tests/data/test_backfill_planner.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Implement Scenario Studio authentication and security tooling
  .env.example
  apps/web/app/api/auth/session/route.ts
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/lib/auth.ts
  apps/web/middleware.ts
  apps/web/tests/smoke.spec.ts
  apps/web/tsconfig.json
  scripts/cli.py
  scripts/commands/__init__.py
  scripts/commands/security.py
  scripts/security_audit.py
  scripts/tests/test_security_audit.py
Owners: none

feat: populate macd from first bar
  analytics/signals/pipeline.py
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
