Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

docs: codify portfolio scheduling api standards
  docs/index.md
  docs/portfolio_scheduler_api.md
Owners: @neuron7x/documentation-team

Revert "Add standards for portfolio optimisation, scheduling, and API controls"
  docs/index.md
  docs/portfolio_scheduler_api.md
Owners: @neuron7x/documentation-team

Revise portfolio scheduling standards to match repository
  docs/portfolio_scheduler_api.md
Owners: @neuron7x/documentation-team

Document time-series storage policies
  docs/scaling.md
Owners: @neuron7x/documentation-team

Align portfolio scheduler API guide with existing repo
  docs/portfolio_scheduler_api.md
Owners: @neuron7x/documentation-team

docs: add chaos stress and finops playbook
  docs/chaos_cost_controls.md
  docs/index.md
Owners: @neuron7x/documentation-team

Add advanced security guardrails
  .github/workflows/security.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Fix Grype SARIF upload path in security workflow
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Fix Grype SARIF upload path
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Ensure container scans upload SARIF before failing
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Refine data sanity checks and add tests
  scripts/__init__.py
  scripts/data_sanity.py
  tests/unit/scripts/test_data_sanity.py
Owners: @neuron7x/qa-team

Enhance data sanity metrics and reporting
  scripts/__init__.py
  scripts/data_sanity.py
  tests/unit/scripts/test_data_sanity.py
Owners: @neuron7x/qa-team

Document governance automation for IAM and compliance
  docs/adr/0001-security-compliance-automation.md
  docs/adr/index.md
  docs/governance.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Enhance CLI ergonomics and add reliability playbooks
  cli/tradepulse_cli.py
  docs/accessibility.md
  docs/cli.md
  docs/cookbook_backtest_live.md
  docs/incident_playbooks.md
  docs/performance.md
  docs/quality_gates.md
  docs/reliability.md
  mkdocs.yml
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Implement alt-data fusion and cross-language tracing support
  core/altdata/__init__.py
  core/altdata/compliance.py
  core/altdata/drift.py
  core/altdata/fusion.py
  core/altdata/news.py
  core/altdata/onchain.py
  core/altdata/sentiment.py
  core/data/adapters/unified.py
  execution/__init__.py
  execution/canary.py
  interfaces/cli.py
  observability/__init__.py
  observability/tracing.py
  tests/unit/altdata/test_altdata_modules.py
  tests/unit/data/test_unified_adapters.py
  tests/unit/execution/test_canary.py
  ui/dashboard/src/core/telemetry.js
  ui/dashboard/tests/test.js
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

docs: outline platform initiatives roadmap
  docs/roadmap/platform_initiatives.md
Owners: @neuron7x/documentation-team

Document cost dashboards, release safety, and golden data plan
  docs/improvement_plan.md
Owners: @neuron7x/documentation-team

Improve ArrayPool safety and add borrow helper
  core/utils/memory.py
  tests/unit/test_utils_memory.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add calendar, access, and testing governance updates
  TESTING.md
  configs/quality/heavy_math_jobs.yaml
  docs/governance.md
  docs/quality_gates.md
  docs/runbook_data_incident.md
  docs/runbook_live_trading.md
  docs/ui_what_if.md
  mkdocs.yml
  pytest.ini
  tests/performance/test_indicator_portability.py
  tests/unit/config/test_heavy_math_jobs.py
  tests/unit/test_timeutils.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add calendar, access, and testing governance updates
  TESTING.md
  configs/quality/heavy_math_jobs.yaml
  docs/governance.md
  docs/quality_gates.md
  docs/runbook_data_incident.md
  docs/runbook_live_trading.md
  docs/ui_what_if.md
  mkdocs.yml
  pytest.ini
  tests/performance/test_indicator_portability.py
  tests/unit/config/test_heavy_math_jobs.py
  tests/unit/test_timeutils.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Handle complex phases safely in Kuramoto order
  core/indicators/kuramoto.py
  tests/unit/test_numeric_stability.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Owners: @neuron7x/devops-team

ci: publish python package via oidc
  .github/workflows/publish-python.yml
  .github/workflows/sbom.yml
Owners: @neuron7x/devops-team

Enhance release and nightly workflows
  .github/workflows/publish-image.yml
  .github/workflows/smoke-e2e.yml
Owners: @neuron7x/devops-team

Ensure alert config runs after smoke failures
  .github/workflows/smoke-e2e.yml
Owners: @neuron7x/devops-team

Enforce stronger coverage and finalize multiplatform packaging
  .github/workflows/publish-python.yml
  .github/workflows/tests.yml
  DEPENDENCY_SECURITY_AUDIT.md
  README.md
  TESTING.md
  conftest.py
  docs/improvement_plan.md
  docs/roadmap.md
  pyproject.toml
  pytest.ini
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
  requirements.txt
  tests/smoke/__init__.py
  tests/smoke/test_wheel_imports.py
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Fix networkx compatibility for Python 3.9
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team

Restore Python 3.9 dependency resolution
  DEPENDENCY_SECURITY_AUDIT.md
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team

Raise coverage threshold and add mutation testing
  .github/workflows/mutation-tests.yml
  DEPENDENCY_SECURITY_AUDIT.md
  Makefile
  TESTING.md
  docs/improvement_plan.md
  docs/roadmap.md
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Add cibuildwheel workflow for cross-platform wheels
  .github/workflows/build-wheels.yml
  pyproject.toml
  requirements-dev.txt
Owners: @neuron7x/devops-team

feat(data): add online feature store purge integrity checks
  core/data/__init__.py
  core/data/feature_store.py
  tests/unit/data/test_feature_store_online.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat: allow feature store without pyarrow
  cli/tradepulse_cli.py
  core/data/adapters/parquet.py
  core/data/feature_store.py
  core/indicators/cache.py
  core/utils/dataframe_io.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
  tests/property/test_ingestion_adapter_properties.py
  tests/unit/data/test_feature_store_online.py
  tests/unit/test_ingestion_adapters.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/qa-team

test: cover dataframe io fallbacks
  tests/unit/utils/test_dataframe_io.py
Owners: @neuron7x/qa-team

fix: preserve cached dataframe index
  core/indicators/cache.py
  core/utils/dataframe_io.py
  tests/unit/test_indicator_cache.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat(data): add retention policies and streaming materialization
  core/data/feature_store.py
  core/data/materialization.py
  tests/unit/data/test_feature_store_retention.py
  tests/unit/data/test_stream_materialization.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

fix: drop polars index columns on load
  core/utils/dataframe_io.py
Owners: @neuron7x/core-team

fix: harden feature store serialization
  core/data/feature_store.py
Owners: @neuron7x/data-team

fix: use json serialization for online store frames
  core/data/feature_store.py
Owners: @neuron7x/data-team

test: broaden feature store coverage
  .coveragerc
  tests/unit/data/test_backfill.py
  tests/unit/data/test_feature_store_retention.py
  tests/unit/data/test_stream_materialization.py
Owners: @neuron7x/qa-team

fix: stabilize feature store hashing and coverage scope
  .coveragerc
  core/data/feature_store.py
Owners: @neuron7x/data-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
