Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Improve SIEM sink durability and stabilize benchmarks
  core/indicators/hierarchical_features.py
  src/audit/audit_logger.py
  tests/performance/conftest.py
  tests/property/test_schemas_properties.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add TradePulseSystem orchestration layer
  application/__init__.py
  application/system.py
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

Integrate dashboard secrets with vault guidance
  DEPLOYMENT.md
  interfaces/dashboard_streamlit.py
Owners: none

Refine dashboard secret handling and add tests
  DEPLOYMENT.md
  interfaces/dashboard_streamlit.py
  tests/interfaces/test_dashboard_secrets.py
Owners: @neuron7x/qa-team

chore: enhance sbom automation
  .github/workflows/publish-image.yml
  .github/workflows/sbom.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Harden Docker deployment with distroless runtime
  Dockerfile
  README.md
  container_entrypoint.py
  docker-compose.yml
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Add buf lint workflow and DAST scanning
  .github/workflows/buf-lint.yml
  .github/workflows/security.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Handle terminal remote order sync in OMS
  execution/live_loop.py
  execution/oms.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add comprehensive tests for OMS remote terminal sync
  execution/live_loop.py
  execution/oms.py
  tests/integration/test_live_loop.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Harden OMS remote sync for missing fields
  execution/oms.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix OMS remote sync fallbacks and polling
  execution/live_loop.py
  execution/oms.py
Owners: @neuron7x/core-team

Prevent OMS sync from regressing fill state
  execution/oms.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Infer average price when syncing terminal orders
  execution/oms.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add lifecycle controls to live execution loop
  execution/live_loop.py
  tests/integration/test_live_loop.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add unit tests for live loop lifecycle controls
  execution/live_loop.py
  tests/integration/test_live_loop.py
  tests/unit/execution/test_live_loop_controls.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enhance exchange REST adapters and coverage
  execution/adapters/binance.py
  execution/adapters/coinbase.py
  tests/execution/test_rest_base_connector.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix missing dependencies in REST base connector tests
  tests/execution/test_rest_base_connector.py
Owners: @neuron7x/qa-team

Add regression tests for tracing, license report, and schema generator
  tests/tools/test_compliance_license_report.py
  tests/tools/test_schema_generate_event_types.py
  tests/unit/observability/test_tracing.py
Owners: @neuron7x/qa-team

Fix tracing stub cleanup
  tests/unit/observability/test_tracing.py
Owners: @neuron7x/qa-team

Cap retry backoff delay with jitter
  core/data/adapters/base.py
  tests/unit/data/adapters/test_base.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

chore: harden pip tar extraction and refresh audit tooling
  requirements-dev.lock
  requirements-dev.txt
  scripts/dependency_audit.py
  sitecustomize.py
Owners: @neuron7x/devops-team

Add orchestrator utilities for TradePulse system integration
  application/__init__.py
  application/system_orchestrator.py
  docs/integration-api.md
  tests/integration/test_tradepulse_orchestrator.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add market data connector integration for async ingestion
  application/system.py
  core/data/async_ingestion.py
  tests/unit/test_async_ingestion.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add caching ingestion service and tests
  src/data/__init__.py
  src/data/ingestion_service.py
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/qa-team

Add persistent dead-letter storage for market connectors
  core/data/connectors/market.py
  tests/unit/data/test_market_connectors_dead_letter.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add ingestion data integrity validation
  src/data/ingestion_service.py
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/qa-team

Fix race when persisting dead-letter queue
  core/data/connectors/market.py
Owners: @neuron7x/data-team

feat(strategies): add kuramoto and hurst-vpin signal engines
  core/indicators/__init__.py
  core/indicators/trading.py
  core/strategies/__init__.py
  core/strategies/trading.py
  tests/strategies/test_trading_strategies.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Ensure numeric validation coerces object columns
  src/data/ingestion_service.py
Owners: none

Add Hurst VPIN volume validation tests
  tests/strategies/test_trading_strategies.py
Owners: @neuron7x/qa-team

Allow Kuramoto indicator small windows
  core/indicators/trading.py
  tests/strategies/test_trading_strategies.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: respect small Kuramoto windows and extend tests
  core/indicators/__init__.py
  core/indicators/trading.py
  core/strategies/__init__.py
  core/strategies/trading.py
  tests/strategies/test_trading_strategies.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix numeric coercion validation regression
  src/data/ingestion_service.py
Owners: none

Add Kuramoto close column validation test
  tests/strategies/test_trading_strategies.py
Owners: @neuron7x/qa-team

Fix float32 entropy calculations
  core/indicators/hierarchical_features.py
  tests/unit/indicators/test_hierarchical_features.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Refine float32 entropy handling
  core/indicators/hierarchical_features.py
  tests/unit/indicators/test_hierarchical_features.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Clarify float32 entropy logging
  core/indicators/hierarchical_features.py
  tests/unit/indicators/test_hierarchical_features.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Align Hilbert fallback with SciPy detrending
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_indicators_kuramoto_multiscale.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Ensure entropy chunk processing reuses global scaling
  core/indicators/entropy.py
  tests/unit/test_indicators_entropy.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Align Kuramoto Hilbert fallback and fix entropy chunking
  core/indicators/entropy.py
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_indicators_entropy.py
  tests/unit/test_indicators_kuramoto_multiscale.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
