Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Move resampling tests into unit suite
  tests/unit/test_backtest_resampling.py
Owners: @neuron7x/qa-team

add: full AdaptiveMarketMind (AMM) module
  analytics/amm_metrics.py
  backtest/strategies/amm_combo.py
  bench/bench_amm.py
  cli/amm_cli.py
  configs/amm.yaml
  configs/amm_strategy.yaml
  core/neuro/__init__.py
  core/neuro/amm.py
  core/neuro/calibration.py
  core/neuro/features.py
  core/neuro/quantile.py
  core/neuro/sizing.py
  docs/indicators/amm.md
  execution/amm_runner.py
  observability/grafana/amm_dashboard.json
  scripts/gen_synth_amm_data.py
  tests/neuro/test_amm.py
  tests/neuro/test_calibration.py
  tests/neuro/test_sizing.py
  tests/strategies/test_amm_combo.py
  tests/utils/test_quantile.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add coverage for neuro modules and stabilize quantile estimator
  backtest/strategies/amm_combo.py
  core/data/__init__.py
  core/neuro/quantile.py
  tests/execution/test_amm_runner.py
  tests/neuro/test_amm.py
  tests/neuro/test_features.py
  tests/neuro/test_neuro_quantile.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Improve neuro coverage and add pandera fallback
  core/data/validation.py
  tests/execution/test_amm_runner.py
  tests/neuro/test_amm.py
  tests/neuro/test_features.py
  tests/neuro/test_neuro_quantile.py
  tests/unit/execution/test_amm_runner.py
  tests/unit/neuro/test_amm.py
  tests/unit/neuro/test_calibration.py
  tests/unit/neuro/test_features.py
  tests/unit/neuro/test_quantile.py
  tests/unit/neuro/test_sizing.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Cover AMM offload path and quantile edge case
  tests/unit/neuro/test_amm.py
  tests/unit/neuro/test_quantile.py
Owners: @neuron7x/qa-team

Add adapter policy tests to lift coverage
  tests/unit/data/adapters/test_base.py
Owners: @neuron7x/qa-team

Add position sizing coverage tests
  tests/unit/execution/test_order_sizing.py
Owners: @neuron7x/qa-team

Relax Kuramoto property test tolerance
  tests/property/test_indicator_properties.py
Owners: @neuron7x/qa-team

Clamp Kuramoto output and relax ingestion fuzz tolerance
  backtest/strategies/amm_combo.py
  core/data/__init__.py
  core/data/validation.py
  core/indicators/kuramoto.py
  core/neuro/quantile.py
  tests/fuzz/test_ingestion_fuzz.py
  tests/neuro/test_amm.py
  tests/property/test_indicator_properties.py
  tests/unit/data/adapters/test_base.py
  tests/unit/execution/test_amm_runner.py
  tests/unit/execution/test_order_sizing.py
  tests/unit/neuro/test_amm.py
  tests/unit/neuro/test_calibration.py
  tests/unit/neuro/test_features.py
  tests/unit/neuro/test_quantile.py
  tests/unit/neuro/test_sizing.py
  tests/unit/test_indicators_kuramoto.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Expose AMM module and register docs
  core/neuro/__init__.py
  mkdocs.yml
  pyproject.toml
Owners: @neuron7x/core-team

Increase coverage threshold to 90 percent
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Improve coverage focus and add market model tests
  .coveragerc
  core/config/kuramoto_ricci.py
  core/data/models.py
  core/indicators/ricci.py
  tests/unit/config/test_kuramoto_ricci_config.py
  tests/unit/test_market_models.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Fix Dependabot auto-merge permissions
  .github/workflows/dependabot-auto-merge.yml
Owners: @neuron7x/devops-team

ci: add parallel pytest profiling workflow
  .github/workflows/tests.yml
  requirements-dev.txt
Owners: @neuron7x/devops-team

Fix pytest module name clashes in test suite
  tests/__init__.py
  tests/neuro/__init__.py
  tests/unit/__init__.py
  tests/unit/neuro/__init__.py
Owners: @neuron7x/qa-team

Add nightly smoke E2E pipeline workflow
  .github/workflows/smoke-e2e.yml
  scripts/smoke_e2e.py
Owners: @neuron7x/devops-team

docs: refresh readme ci badges and quality sections
  README.md
Owners: @neuron7x/documentation-team

docs: elevate readme for expert onboarding
  README.md
Owners: @neuron7x/documentation-team

Add deployment documentation
  DEPLOYMENT.md
Owners: none

docs: refresh testing guide with e2e coverage
  TESTING.md
  tests/e2e/test_smoke.py
Owners: @neuron7x/qa-team

Add CycloneDX SBOM automation
  .github/workflows/sbom.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Fix CycloneDX workflow requirements aggregation
  .github/workflows/sbom.yml
Owners: @neuron7x/devops-team

chore: sign container releases with cosign
  .github/workflows/publish-image.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Harden secret scanning and rotate baseline
  .secrets.baseline
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  tests/unit/test_ingestion_adapters.py
  tests/unit/test_utils_security.py
Owners: @neuron7x/qa-team

docs: add responsible disclosure policy
  SECURITY.md
Owners: @neuron7x/security-team

refactor: adopt strict pydantic v2 models
  core/config/kuramoto_ricci.py
  core/data/models.py
  core/data/validation.py
  tests/unit/config/test_kuramoto_ricci_config.py
  tests/unit/test_market_models.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Add canonical instrument normalization and stricter data validation
  core/data/__init__.py
  core/data/catalog.py
  core/data/models.py
  execution/risk.py
  tests/unit/test_execution.py
  tests/unit/test_market_models.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/qa-team

Add exchange calendars and DST-safe bar alignment checks
  core/data/__init__.py
  core/data/timeutils.py
  core/data/validation.py
  requirements.txt
  tests/unit/test_timeutils.py
Owners: @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/qa-team

Expand timeutils coverage
  tests/unit/test_timeutils.py
Owners: @neuron7x/qa-team

feat: add unified ingestion adapters and hierarchical feature pipeline
  conftest.py
  core/data/__init__.py
  core/data/adapters/unified.py
  core/data/backfill.py
  core/data/quality_control.py
  core/data/resampling.py
  core/indicators/__init__.py
  core/indicators/hierarchical_features.py
  tests/data/test_backfill_and_resampling.py
  tests/data/test_quality_control.py
  tests/data/test_unified_adapters.py
  tests/indicators/test_hierarchical_features.py
Owners: @neuron7x/qa-team, @neuron7x/data-team, @neuron7x/core-team

test: relocate ingestion coverage tests and harden calendar shims
  conftest.py
  core/data/timeutils.py
  tests/unit/data/test_backfill_and_resampling.py
  tests/unit/data/test_quality_control.py
  tests/unit/data/test_unified_adapters.py
  tests/unit/indicators/test_hierarchical_features.py
Owners: @neuron7x/qa-team, @neuron7x/data-team

feat: harden order book resampling and coverage
  conftest.py
  core/data/__init__.py
  core/data/adapters/unified.py
  core/data/backfill.py
  core/data/quality_control.py
  core/data/resampling.py
  core/data/timeutils.py
  core/indicators/__init__.py
  core/indicators/hierarchical_features.py
  tests/unit/data/test_backfill_and_resampling.py
  tests/unit/data/test_quality_control.py
  tests/unit/data/test_unified_adapters.py
  tests/unit/indicators/test_hierarchical_features.py
Owners: @neuron7x/qa-team, @neuron7x/data-team, @neuron7x/core-team

Enhance backtest engine with financing and Monte Carlo tools
  backtest/engine.py
  backtest/monte_carlo.py
  backtest/performance.py
  backtest/transaction_costs.py
  tests/unit/backtest/test_monte_carlo.py
  tests/unit/backtest/test_performance_metrics.py
  tests/unit/backtest/test_transaction_costs.py
  tests/unit/test_time_splits.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add execution OMS with connectors and algorithms
  execution/algorithms.py
  execution/connectors.py
  execution/normalization.py
  execution/oms.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add coverage-focused execution tests
  tests/unit/test_execution_system.py
Owners: @neuron7x/qa-team

Document risk and signal control blueprint
  docs/index.md
  docs/risk_ml_observability.md
Owners: @neuron7x/documentation-team

Add observability tracing and profiling utilities
  backtest/execution_simulation.py
  bench/bench_pipeline.py
  core/agent/strategy.py
  core/data/ingestion.py
  core/indicators/base.py
  core/utils/logging.py
  core/utils/metrics.py
  docs/monitoring.md
  docs/performance.md
  observability/__init__.py
  observability/dashboards/tradepulse-pipeline.json
  observability/exporters.py
  observability/generated/dashboards/tp-pipeline.json
  observability/generated/manifest.json
  observability/health.py
  observability/metrics.json
  observability/tracing.py
  requirements-dev.txt
  requirements.txt
  tests/unit/observability/test_health_server.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

feat: accelerate indicators and enhance dashboard workflows
  core/indicators/__init__.py
  core/indicators/base.py
  core/indicators/entropy.py
  core/indicators/pipeline.py
  core/indicators/ricci.py
  core/utils/memory.py
  tests/unit/test_indicator_pipeline.py
  ui/dashboard/src/core/index.js
  ui/dashboard/tests/test.js
Owners: @neuron7x/core-team, @neuron7x/qa-team

test: improve indicator concurrency coverage
  core/indicators/base.py
  core/indicators/entropy.py
  tests/unit/test_indicator_base.py
  tests/unit/test_indicator_pipeline.py
  tests/unit/test_indicators_entropy.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat: harden scenario workflows and web security
  SECURITY.md
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/audit-external-scripts.cjs
  apps/web/tsconfig.json
  cli/amm_cli.py
  docs/scenario_template.md
  docs/scenarios.md
  mkdocs.yml
Owners: @neuron7x/security-team, @neuron7x/documentation-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
