Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Fix position sizing precision and async test support
  conftest.py
  execution/order.py
Owners: @neuron7x/qa-team, @neuron7x/core-team

Improve async pytest fallback and harden position sizing
  conftest.py
  execution/order.py
  tests/unit/test_execution.py
Owners: @neuron7x/qa-team, @neuron7x/core-team

Improve asyncio fallback support
  conftest.py
  execution/order.py
  tests/unit/test_execution.py
  tests/unit/test_pytest_asyncio_fallback.py
  tools/pytest_asyncio_fallback.py
Owners: @neuron7x/qa-team, @neuron7x/core-team

Refine indicator metadata defaults and add go.sum
  core/indicators/entropy.py
  core/indicators/hurst.py
  core/indicators/kuramoto.py
  go.sum
Owners: @neuron7x/core-team

Enhance metrics instrumentation and coverage
  core/utils/metrics.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enhance metrics instrumentation and coverage
  core/utils/metrics.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add calibration tests for multiscale Kuramoto indicator
  tests/unit/test_indicators_kuramoto.py
Owners: @neuron7x/qa-team

Fix newline at end of Kuramoto tests
  tests/unit/test_indicators_kuramoto.py
Owners: @neuron7x/qa-team

Split multiscale Kuramoto tests into dedicated module
  tests/unit/test_indicators_kuramoto_multiscale.py
Owners: @neuron7x/qa-team

Harden wavelet selector against resource exhaustion
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_indicators_kuramoto_multiscale.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Guard wavelet selection runtime bounds
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_indicators_kuramoto_multiscale.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Ensure metrics contexts record error statuses
  core/utils/metrics.py
Owners: @neuron7x/core-team

Fix websocket subscribe test to await NotImplemented
  tests/unit/test_async_ingestion.py
Owners: @neuron7x/qa-team

Ensure composite engine retries are idempotent
  core/indicators/kuramoto_ricci_composite.py
  tests/unit/test_kuramoto_ricci_composite.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

docs: add technical debt management playbook
  docs/index.md
  docs/technical-debt.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

docs: add ci cd health review
  reports/ci_cd_health_review.md
Owners: none

Add unified observability bootstrap and correlation context
  configs/observability/README.md
  configs/observability/grafana/tradepulse-overview.json
  core/observability/__init__.py
  core/observability/context.py
  core/observability/tracing.py
  core/utils/__init__.py
  core/utils/logging.py
  core/utils/metrics.py
  docs/monitoring.md
  requirements-dev.txt
  requirements.txt
  tests/unit/test_observability_context.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

Add schema and security coverage and secret scanning hook
  .pre-commit-config.yaml
  .secrets.baseline
  tests/property/test_schemas_properties.py
  tests/unit/test_data_ingestion.py
  tests/unit/test_utils_schemas.py
  tests/unit/test_utils_security.py
Owners: @neuron7x/qa-team

Improve observability scope propagation
  core/observability/context.py
  docs/monitoring.md
  tests/unit/test_observability_context.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add concurrent strategy batch evaluator
  .gitignore
  core/agent/__init__.py
  core/agent/evaluator.py
  docs/performance.md
  tests/unit/test_agent_evaluator.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add user onboarding guide
  docs/onboarding.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

docs: add scaling roadmap for TradePulse
  docs/scaling.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

docs: add chaos testing gameday playbook
  docs/resilience.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Add auto rollback guard for SLO breaches
  core/utils/__init__.py
  core/utils/slo.py
  docs/monitoring.md
  tests/core/utils/test_slo.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

chore: automate dependency updates
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Owners: @neuron7x/devops-team

Add observability-as-code bundle and tooling
  docs/monitoring.md
  observability/README.md
  observability/alerts.json
  observability/dashboards/tradepulse-overview.json
  observability/generated/dashboards/tradepulse-overview.json
  observability/generated/manifest.json
  observability/generated/prometheus/alerts.yaml
  observability/metrics.json
  tests/unit/observability/test_builder.py
  tools/__init__.py
  tools/observability/__init__.py
  tools/observability/builder.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add quality DoR/DoD checklist documentation
  docs/index.md
  docs/quality-dor-dod.md
Owners: @neuron7x/documentation-team

Add shift-left security scanning and documentation
  .github/workflows/security.yml
  SECURITY.md
  configs/security/zap-allowlist.json
  docs/index.md
  docs/security-shift-left.md
  mkdocs.yml
Owners: @neuron7x/devops-team, @neuron7x/security-team, @neuron7x/documentation-team

chore: reorganize dependency stacks
  CONTRIBUTING.md
  DEPENDENCY_SECURITY_AUDIT.md
  README.md
  TESTING.md
  docs/quickstart.md
  docs/scenarios.md
  reports/release_readiness.md
  requirements-dev.txt
  requirements.txt
Owners: @neuron7x/documentation-team, @neuron7x/devops-team

Add security headers to Next.js app
  apps/web/next.config.js
Owners: none

Improve testing resilience for optional YAML dependency
  interfaces/cli.py
  tests/property/test_invariants.py
Owners: @neuron7x/qa-team

Add structured configuration loader for composite analysis
  configs/README.md
  configs/kuramoto_ricci_composite.yaml
  core/config/__init__.py
  core/config/kuramoto_ricci.py
  core/indicators/temporal_ricci.py
  scripts/integrate_kuramoto_ricci.py
  tests/unit/config/test_kuramoto_ricci_config.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add coverage for metrics collector and temporal ricci edge cases
  tests/unit/test_indicators_temporal_ricci.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/qa-team

docs: outline 9-10 improvement roadmap
  docs/improvement_plan.md
Owners: @neuron7x/documentation-team

Add test reporting artifacts to CI
  .github/workflows/tests.yml
  .gitignore
  requirements-dev.txt
Owners: @neuron7x/devops-team

docs: transform improvement roadmap into execution program
  docs/improvement_plan.md
Owners: @neuron7x/documentation-team

docs: define reliability targets and escalation policy
  docs/index.md
  docs/reliability.md
Owners: @neuron7x/documentation-team

Add roadmap documentation aligning with improvement plan
  README.md
  docs/index.md
  docs/roadmap.md
Owners: @neuron7x/documentation-team

docs: expand reliability playbook artifacts
  docs/index.md
  docs/postmortem_template.md
  docs/reliability.md
  reports/reliability_scorecard.md
Owners: @neuron7x/documentation-team

Parallelize strategy evaluation with worker queue
  core/agent/evaluator.py
Owners: @neuron7x/core-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
