Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Fix health metrics collector and refresh API contracts
  application/api/service.py
  interfaces/http/openapi/0.2.0.json
  schemas/http/json/1.0.0/feature_response.schema.json
  schemas/http/json/1.0.0/prediction_response.schema.json
Owners: none

Expand quality control test coverage
  tests/unit/data/test_quality_control.py
Owners: @neuron7x/qa-team

Add coverage for hot symbol cache behaviour
  tests/unit/data/test_hot_symbol_cache.py
Owners: @neuron7x/qa-team

Add core trading PostgreSQL schema
  schemas/postgres/0001_trading_core.sql
  schemas/postgres/README.md
Owners: none

Adjust instrument uniqueness to include exchange
  schemas/postgres/0001_trading_core.sql
Owners: none

Refine trading schema fill tracking and constraints
  schemas/postgres/0001_trading_core.sql
  schemas/postgres/README.md
Owners: none

Implement dashboard routing and modular live views
  ui/dashboard/src/components/area_chart.js
  ui/dashboard/src/components/live_table.js
  ui/dashboard/src/core/dashboard_ui.js
  ui/dashboard/src/core/formatters.js
  ui/dashboard/src/core/index.js
  ui/dashboard/src/router/index.js
  ui/dashboard/src/styles/base.css.js
  ui/dashboard/src/styles/chart.css.js
  ui/dashboard/src/styles/table.css.js
  ui/dashboard/src/views/orders.js
  ui/dashboard/src/views/pnl_quotes.js
  ui/dashboard/src/views/positions.js
  ui/dashboard/tests/test.js
Owners: none

Enhance dashboard coverage and chart range handling
  ui/dashboard/src/components/area_chart.js
  ui/dashboard/tests/test.js
Owners: none

Sanitize order status class modifier
  ui/dashboard/src/views/orders.js
Owners: none

feat(db): implement pooled repository layer with alembic migrations
  alembic.ini
  execution/risk.py
  libs/db/__init__.py
  libs/db/config.py
  libs/db/engine.py
  libs/db/exceptions.py
  libs/db/models.py
  libs/db/repository.py
  libs/db/retry.py
  libs/db/session.py
  migrations/alembic/env.py
  migrations/alembic/script.py.mako
  migrations/alembic/versions/202501150001_create_kill_switch_state.py
  pyproject.toml
  requirements.txt
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/qa-team

Add realtime dashboard client and state management
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/dashboard/src/core/dashboard_ui.js
  ui/dashboard/src/core/index.js
  ui/dashboard/src/services/realtime_client.js
  ui/dashboard/src/state/dashboard_store.js
  ui/dashboard/tests/test.js
Owners: none

Fix TextDecoder view usage
  ui/dashboard/src/services/realtime_client.js
Owners: none

feat(dashboard): add global filter infrastructure
  ui/dashboard/src/core/dashboard_ui.js
  ui/dashboard/src/core/data_sources.js
  ui/dashboard/src/core/filter_controls.js
  ui/dashboard/src/core/index.js
  ui/dashboard/src/state/globalFilters.js
  ui/dashboard/tests/test.js
Owners: none

Add event-sourced order ledger for OMS
  execution/__init__.py
  execution/oms.py
  execution/order_ledger.py
  tests/execution/test_order_ledger.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Improve tick and lot normalization accuracy
  execution/normalization.py
  tests/unit/execution/test_normalization.py
  tests/unit/test_compliance_monitor.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

docs: add ntp ptp synchronization runbook
  docs/operational_handbook.md
  docs/runbook_time_synchronization.md
  newsfragments/999.docs.md
Owners: @neuron7x/documentation-team

Add liquidity impact modeling utilities
  analytics/__init__.py
  analytics/liquidity_impact.py
  analytics/tests/test_liquidity_impact_model.py
Owners: none

Add OMS reconciliation against exchange fills
  domain/order.py
  execution/__init__.py
  execution/oms.py
  execution/reconciliation.py
  tests/unit/test_oms_reconciliation.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Constrain alignment tolerance to tick size
  execution/normalization.py
  tests/unit/execution/test_normalization.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Guard ledger append sequencing with lock
  execution/order_ledger.py
Owners: @neuron7x/core-team

feat(data): add market normalization pipeline
  core/data/__init__.py
  core/data/normalization_pipeline.py
  tests/unit/data/test_normalization_pipeline.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat(data): add asset catalog with historical symbol mapping
  core/data/__init__.py
  core/data/asset_catalog.py
  tests/unit/data/test_asset_catalog.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Fix notional delta calculation in reconciliation
  execution/oms.py
Owners: @neuron7x/core-team

Add multi-market calendar coordination utilities
  backtest/market_calendar.py
  tests/unit/backtest/test_market_calendar_coordinator.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add feature store parity coordinator with validation
  core/data/__init__.py
  core/data/parity.py
  tests/unit/data/test_feature_parity.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

fix: avoid tick alignment loss before resampling
  core/data/normalization_pipeline.py
Owners: @neuron7x/data-team

Validate required columns for empty parity frames
  core/data/parity.py
  tests/unit/data/test_feature_parity.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

fix: anchor tick expected index to resampled calendar
  core/data/normalization_pipeline.py
Owners: @neuron7x/data-team

fix: anchor tick expected index to resampled bars
  core/data/normalization_pipeline.py
  tests/unit/data/test_normalization_pipeline.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Align streaming expected index with market calendars
  core/data/backfill.py
  src/data/streaming_aggregator.py
  tests/unit/data/test_pipeline_edge_cases.py
  tests/unit/data/test_streaming_aggregator.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

test: cover irregular cadence detection
  tests/unit/data/test_backfill.py
Owners: @neuron7x/qa-team

test: cover offset frequency override for calendar planning
  src/data/streaming_aggregator.py
  tests/unit/data/test_streaming_aggregator.py
Owners: @neuron7x/qa-team

Fix session-aware resampling stride
  src/data/streaming_aggregator.py
Owners: none

Fix session-aware resampling stride
  src/data/streaming_aggregator.py
Owners: none

Fix tick normalization calendar alignment
  core/data/normalization_pipeline.py
  tests/unit/data/test_normalization_pipeline.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add experiment registry for model lifecycle
  src/data/__init__.py
  src/data/experiment_registry.py
  tests/unit/data/test_experiment_registry.py
Owners: @neuron7x/qa-team

Add CLI workflow for feature store parity coordination
  cli/tradepulse_cli.py
  configs/templates/parity.yaml.j2
  core/config/__init__.py
  core/config/cli_models.py
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add local model and experiment registry
  core/experiments/__init__.py
  core/experiments/registry.py
  tests/unit/experiments/test_registry.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add paper trading engine with latency simulation
  execution/__init__.py
  execution/paper_trading.py
  tests/execution/test_paper_trading.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add environment parity checks across environments
  analytics/__init__.py
  analytics/environment_parity.py
  analytics/tests/test_environment_parity.py
  core/utils/metrics.py
Owners: @neuron7x/core-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
