Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Add tests for structured logging utilities
  tests/unit/test_utils_logging.py
Owners: @neuron7x/qa-team

Raise coverage gate and re-enable Kuramoto/Ricci tests
  .github/workflows/tests.yml
  DEPENDENCY_SECURITY_AUDIT.md
  TESTING.md
Owners: @neuron7x/devops-team

Add latency-aware backtest and risk safety rails
  .github/workflows/tests.yml
  backtest/engine.py
  core/indicators/kuramoto.py
  core/indicators/multiscale_kuramoto.py
  core/indicators/ricci.py
  core/indicators/temporal_ricci.py
  core/utils/metrics.py
  docs/monitoring.md
  execution/risk.py
  observability/dashboards/tradepulse-overview.json
  observability/generated/dashboards/tradepulse-overview.json
  tests/integration/test_backtest.py
  tests/property/test_indicator_properties.py
  tests/unit/test_execution.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Harden Ricci indicator guards and modernize temporal analyzer
  .github/workflows/tests.yml
  backtest/engine.py
  core/indicators/kuramoto.py
  core/indicators/multiscale_kuramoto.py
  core/indicators/ricci.py
  core/indicators/temporal_ricci.py
  core/utils/metrics.py
  docs/monitoring.md
  execution/risk.py
  observability/dashboards/tradepulse-overview.json
  observability/generated/dashboards/tradepulse-overview.json
  tests/integration/test_backtest.py
  tests/property/test_indicator_properties.py
  tests/unit/test_execution.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Raise CI coverage gate to 80 percent
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Relocate SLO guard unit tests into CI suite
  tests/unit/utils/test_slo_guard.py
Owners: @neuron7x/qa-team

Handle numpy optional dependency in metrics
  core/utils/metrics.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add regression test for metrics import without numpy
  .github/workflows/tests.yml
  backtest/engine.py
  core/indicators/kuramoto.py
  core/indicators/multiscale_kuramoto.py
  core/indicators/ricci.py
  core/indicators/temporal_ricci.py
  core/utils/metrics.py
  docs/monitoring.md
  execution/risk.py
  observability/dashboards/tradepulse-overview.json
  observability/generated/dashboards/tradepulse-overview.json
  tests/integration/test_backtest.py
  tests/property/test_indicator_properties.py
  tests/unit/test_execution.py
  tests/unit/test_metrics_collector.py
  tests/unit/test_metrics_optional_deps.py
  tests/unit/utils/test_slo_guard.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

feat: add strict market data models and timezone utilities
  core/data/__init__.py
  core/data/async_ingestion.py
  core/data/ingestion.py
  core/data/models.py
  core/data/timeutils.py
  core/utils/schemas.py
  docs/extending.md
  docs/integration-api.md
  docs/scenarios.md
  docs/schemas/BacktestResult.json
  docs/schemas/Ticker.json
  interfaces/cli.py
  requirements.txt
  tests/fuzz/test_ingestion_fuzz.py
  tests/integration/test_extended_pipeline.py
  tests/unit/test_async_ingestion.py
  tests/unit/test_data_ingestion.py
  tests/unit/test_timeutils.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

fix: remove pydantic dependency from market data stack
  core/data/models.py
  core/data/timeutils.py
  core/utils/schemas.py
  requirements.txt
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/devops-team

feat: restore strict pydantic market data models
  core/data/models.py
  core/utils/schemas.py
  docs/extending.md
  docs/integration-api.md
  docs/schemas/Ticker.json
  requirements.txt
  tests/unit/test_market_models.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

test: relax ticker timestamp tolerance
  tests/fuzz/test_ingestion_fuzz.py
Owners: @neuron7x/qa-team

Define subsystem interfaces and implement boundaries
  backtest/engine.py
  core/data/async_ingestion.py
  core/data/ingestion.py
  execution/order.py
  execution/risk.py
  interfaces/README.md
  interfaces/__init__.py
  interfaces/backtest.py
  interfaces/execution.py
  interfaces/ingestion.py
Owners: @neuron7x/core-team, @neuron7x/data-team

feat: add domain layer for trading primitives
  application/__init__.py
  application/trading.py
  docs/ARCHITECTURE.md
  domain/__init__.py
  domain/order.py
  domain/position.py
  domain/signal.py
  execution/order.py
  tests/property/test_execution_properties.py
  tests/unit/domain/test_order.py
  tests/unit/domain/test_position.py
  tests/unit/domain/test_signal.py
  tests/unit/test_application_trading.py
  tests/unit/test_execution.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

feat: adopt unified pydantic-settings configuration
  core/config/__init__.py
  core/config/kuramoto_ricci.py
  core/data/models.py
  core/utils/schemas.py
  docs/configuration.md
  mkdocs.yml
  requirements.txt
  scripts/integrate_kuramoto_ricci.py
  tests/unit/config/test_kuramoto_ricci_config.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

Fix schema generation and extend config coverage
  core/utils/schemas.py
  tests/unit/config/test_kuramoto_ricci_config.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add Hydra experiment profiles and reproducibility tooling
  analytics/runner.py
  conf/config.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  requirements.txt
  tests/unit/test_hydra_profiles.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Enable strict mypy baseline
  .github/workflows/tests.yml
  analytics/fpma/src/adapters/local.py
  analytics/regime/src/adapters/local.py
  backtest/__init__.py
  examples/__init__.py
  execution/__init__.py
  markets/orderbook/src/adapters/local.py
  markets/vpin/src/adapters/local.py
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  scripts/__init__.py
  tests/__init__.py
  tests/property/__init__.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/qa-team

Add resilient ingestion adapters and tests
  analytics/runner.py
  conf/config.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  core/data/adapters/__init__.py
  core/data/adapters/alpaca.py
  core/data/adapters/base.py
  core/data/adapters/ccxt.py
  core/data/adapters/csv.py
  core/data/adapters/parquet.py
  core/data/adapters/polygon.py
  requirements.txt
  tests/unit/test_hydra_profiles.py
  tests/unit/test_ingestion_adapters.py
Owners: @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/qa-team

Add indicator fingerprint cache with incremental backfill
  core/indicators/__init__.py
  core/indicators/cache.py
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_indicator_cache.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add indicator caching with incremental backfill support
  .gitignore
  core/indicators/multiscale_kuramoto.py
  core/utils/__init__.py
  core/utils/cache.py
  tests/unit/test_indicator_cache_utils.py
  tests/unit/test_indicators_kuramoto.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Restore Pydantic v1 compatibility
  core/config/kuramoto_ricci.py
  core/data/models.py
  core/utils/schemas.py
Owners: @neuron7x/core-team, @neuron7x/data-team

Improve compatibility with pydantic v1 environments
  core/config/kuramoto_ricci.py
  core/data/models.py
Owners: @neuron7x/core-team, @neuron7x/data-team

Skip hydra profile tests when omegaconf is unavailable
  tests/unit/test_hydra_profiles.py
Owners: @neuron7x/qa-team

Harden indicator cache deserialization
  core/indicators/cache.py
  tests/unit/test_indicator_cache.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Refactor config models for pydantic v1/v2 compatibility
  core/config/kuramoto_ricci.py
  core/data/models.py
Owners: @neuron7x/core-team, @neuron7x/data-team

Add mypy override validation
  .github/workflows/tests.yml
  tests/unit/test_mypy_config.py
  tools/check_mypy_overrides.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Resolve merge with main and harden caching and config
  analytics/runner.py
  conf/config.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  core/config/kuramoto_ricci.py
  core/data/adapters/__init__.py
  core/data/adapters/alpaca.py
  core/data/adapters/base.py
  core/data/adapters/ccxt.py
  core/data/adapters/csv.py
  core/data/adapters/parquet.py
  core/data/adapters/polygon.py
  core/indicators/__init__.py
  core/indicators/cache.py
  core/indicators/multiscale_kuramoto.py
  core/utils/cache.py
  requirements.txt
  tests/unit/test_hydra_profiles.py
  tests/unit/test_indicator_cache.py
  tests/unit/test_ingestion_adapters.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/qa-team

docs: add catalog for observability and report datasets
  docs/dataset_catalog.md
Owners: @neuron7x/documentation-team

Replace pickle cache serialization with structured JSON
  core/config/kuramoto_ricci.py
  core/data/models.py
  core/indicators/__init__.py
  core/indicators/cache.py
  core/indicators/multiscale_kuramoto.py
  tests/unit/test_hydra_profiles.py
  tests/unit/test_indicator_cache.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Add strict time-series validation utilities
  core/data/__init__.py
  core/data/validation.py
  requirements.txt
  tests/unit/data/test_validation.py
Owners: @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/qa-team

Support richer structured cache encoding
  core/indicators/cache.py
Owners: @neuron7x/core-team

Restore safe unpickling compatibility for legacy cache entries
  core/indicators/cache.py
Owners: @neuron7x/core-team

Add event-driven backtest engine with chunked data support
  backtest/event_driven.py
  backtest/events.py
  tests/unit/backtest/test_event_driven_engine.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Implement per-market transaction cost models
  backtest/engine.py
  backtest/transaction_costs.py
  configs/markets.yaml
  docs/backtest.md
  tests/unit/backtest/test_transaction_costs.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add backtest execution simulation primitives
  backtest/execution_simulation.py
  docs/backtest.md
  docs/backtest_execution_simulation.md
  docs/index.md
  tests/unit/backtest/test_execution_simulation.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add time series cross-validation utilities
  backtest/time_splits.py
  tests/test_time_splits.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Move time split tests into unit suite
  tests/unit/test_time_splits.py
Owners: @neuron7x/qa-team

Add comprehensive backtest performance analytics
  backtest/engine.py
  backtest/event_driven.py
  backtest/performance.py
  docs/schemas/BacktestResult.json
  tests/integration/test_extended_pipeline.py
  tests/property/test_backtest_properties.py
  tests/unit/backtest/test_performance_metrics.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add resampling utilities for backtest performance metrics
  backtest/resampling.py
  tests/backtest/test_resampling.py
Owners: @neuron7x/core-team, @neuron7x/qa-team
