Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Refactor dashboard logic into shared module
  apps/web/app/page.tsx
  apps/web/app/scenario-data.ts
Owners: none

Use dev server for Playwright webServer
  apps/web/playwright.config.ts
Owners: none

Display scenario template label in panel
  apps/web/app/page.tsx
  apps/web/app/styles.css
Owners: none

Add verbose analytics logging levels
  analytics/runner.py
Owners: none

chore(ci): run tests across operating systems
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Instrument data ingestion metrics hooks
  core/data/ingestion.py
  tests/unit/test_data_ingestion.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Capture ingestion quality reports for quarantined ticks
  src/data/ingestion_service.py
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/qa-team

Refactor CLI ingestion with validation and metrics
  interfaces/cli.py
  tests/unit/test_interfaces_cli.py
Owners: @neuron7x/qa-team

Add quarantine reporting to ingestion cache
  src/data/ingestion_service.py
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/qa-team

Instrument data ingestion metrics
  core/data/ingestion.py
  tests/unit/test_data_ingestion.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Integrate ingestion quality governance into CLI and cache
  core/data/ingestion.py
  interfaces/cli.py
  src/data/ingestion_service.py
  tests/unit/test_cli.py
  tests/unit/test_data_ingestion.py
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat: support custom price columns in CSV ingestion
  README.md
  core/data/ingestion.py
  docs/docker-quickstart.md
  docs/quickstart.md
  docs/troubleshooting.md
  interfaces/cli.py
  interfaces/ingestion.py
  sample.csv
  tests/integration/test_cli_price_column.py
  tests/unit/test_data_ingestion.py
Owners: @neuron7x/documentation-team, @neuron7x/data-team, @neuron7x/qa-team

Refactor CLI ingestion to use shared pipeline
  interfaces/cli.py
  tests/unit/test_interfaces_cli_commands.py
Owners: @neuron7x/qa-team

feat(ui): add monitoring dashboard layout and tests
  ui/dashboard/src/core/dashboard_ui.js
  ui/dashboard/src/core/index.js
  ui/dashboard/tests/test.js
Owners: none

Add platform observability dashboard and production containers
  DEPLOYMENT.md
  Dockerfile
  deploy/alertmanager.yml
  deploy/grafana/provisioning/dashboards/dashboards.yaml
  deploy/grafana/provisioning/datasources/datasource.yaml
  deploy/prometheus.yml
  docker-compose.yml
  observability/alerts.json
  observability/dashboards/tradepulse-system-performance.json
  observability/generated/dashboards/system-perf.json
  observability/generated/manifest.json
  observability/generated/prometheus/alerts.yaml
Owners: @neuron7x/devops-team

Integrate ELK logging and health monitoring
  application/system.py
  core/utils/metrics.py
  docker-compose.yml
  docs/monitoring.md
  execution/live_loop.py
  execution/watchdog.py
  observability/README.md
  observability/health_checks.py
  observability/health_monitor.py
  observability/logging/README.md
  observability/logging/filebeat.docker.yml
  observability/logstash/pipeline/logstash.conf
  observability/metrics.json
  tests/unit/observability/test_health_checks.py
  tests/unit/observability/test_health_monitor.py
  tests/unit/test_metrics_collector.py
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add authorization, notifications, and structured logging
  application/api/authorization.py
  application/api/security.py
  application/api/system_access.py
  application/settings.py
  observability/__init__.py
  observability/logging.py
  observability/notifications.py
  src/admin/remote_control.py
  tests/api/test_system_rest_api.py
  tests/observability/test_logging.py
  tests/observability/test_notifications.py
Owners: @neuron7x/qa-team

Fix Docker build context for sample data
  Dockerfile
Owners: @neuron7x/devops-team

Integrate logging stack with observability compose setup
  DEPLOYMENT.md
  docker-compose.yml
  observability/logging/filebeat.docker.yml
  observability/logstash/pipeline/tradepulse.conf
Owners: @neuron7x/devops-team

Fix TradePulse restart alert for Docker metrics
  observability/alerts.json
  observability/generated/manifest.json
  observability/generated/prometheus/alerts.yaml
Owners: none

Refine logging pipeline configuration
  docker-compose.yml
  observability/logging/filebeat.docker.yml
Owners: @neuron7x/devops-team

Align Filebeat docker pipeline with upstream metadata
  observability/logging/filebeat.docker.yml
Owners: none

feat: provision eks infrastructure and delivery pipeline
  .github/workflows/deploy-environments.yml
  DEPLOYMENT.md
  deploy/kustomize/base/deployment.yaml
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/base/pdb.yaml
  deploy/kustomize/base/service.yaml
  deploy/kustomize/namespaces/production.yaml
  deploy/kustomize/namespaces/staging.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/production/patches/deployment-high-availability.yaml
  deploy/kustomize/overlays/production/priorityclass.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
  deploy/kustomize/overlays/staging/patches/deployment-resources.yaml
  infra/terraform/eks/README.md
  infra/terraform/eks/environments/production.tfvars
  infra/terraform/eks/environments/staging.tfvars
  infra/terraform/eks/main.tf
  infra/terraform/eks/outputs.tf
  infra/terraform/eks/providers.tf
  infra/terraform/eks/variables.tf
  infra/terraform/eks/versions.tf
Owners: @neuron7x/devops-team

Reconcile observability compose conflicts
  docker-compose.yml
  observability/logging/filebeat.docker.yml
Owners: @neuron7x/devops-team

fix: ensure docker assets ship with runtime secrets
  Dockerfile
  docker-compose.yml
Owners: @neuron7x/devops-team

Resolve compose observability merge conflicts
  docker-compose.yml
  observability/logging/filebeat.docker.yml
Owners: @neuron7x/devops-team

Fix subnet CIDR validation
  docker-compose.yml
  infra/terraform/eks/main.tf
  infra/terraform/eks/variables.tf
  observability/logging/filebeat.docker.yml
Owners: @neuron7x/devops-team

test: harden ingestion cache service coverage
  tests/unit/test_data_ingestion_service.py
Owners: @neuron7x/qa-team

chore: format eks terraform module
  infra/terraform/eks/main.tf
Owners: none

Add deterministic order lifecycle with Postgres journal
  execution/__init__.py
  execution/order_lifecycle.py
  tests/unit/execution/test_order_lifecycle.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Guard order journal writes with transactional locks
  execution/order_lifecycle.py
Owners: @neuron7x/core-team

Add coverage for feature store behaviors
  tests/unit/data/test_feature_store_additional.py
Owners: @neuron7x/qa-team

Default OAuth settings for test imports
  application/settings.py
Owners: none

Harden order lifecycle SQL composition
  execution/order_lifecycle.py
Owners: @neuron7x/core-team

fix: harden order lifecycle query composition
  execution/order_lifecycle.py
Owners: @neuron7x/core-team

fix(eks): use kubernetes argument in helm provider instead of block
  infra/terraform/eks/providers.tf
Owners: none

Fix Terraform provider compatibility issues
  infra/terraform/eks/providers.tf
  infra/terraform/modules/terraform-aws-eks/modules/eks-managed-node-group/main.tf
  infra/terraform/modules/terraform-aws-eks/modules/fargate-profile/main.tf
  infra/terraform/modules/terraform-aws-eks/modules/karpenter/main.tf
  infra/terraform/modules/terraform-aws-eks/modules/self-managed-node-group/main.tf
Owners: none

Fix provider configuration compatibility
  infra/terraform/eks/main.tf
  infra/terraform/eks/providers.tf
Owners: none

Fix EKS auth and Helm provider compatibility
  infra/terraform/eks/main.tf
  infra/terraform/eks/providers.tf
Owners: none

Fix helm provider kubernetes block
  infra/terraform/eks/providers.tf
Owners: none
