Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

chore: enhance release drafter template
  .github/release-drafter.yml
  README.md
Owners: @neuron7x/documentation-team

Enforce secret configuration for API service
  application/api/service.py
  tests/api/test_service.py
Owners: @neuron7x/qa-team

Validate execution sides and normalize logging
  execution/risk.py
  tests/unit/test_execution.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Prevent risk submissions from growing when throttle disabled
  execution/risk.py
  tests/unit/test_execution.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat(admin): harden remote control surface
  README.md
  docs/admin_remote_control.md
  src/admin/remote_control.py
  tests/fuzz/admin/test_remote_control_fuzz.py
  tests/integration/admin/test_remote_control_integration.py
  tests/property/admin/test_remote_control_properties.py
  tests/unit/admin/test_remote_control_service.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

fix: stabilize remote control metrics and idempotency
  README.md
  docs/admin_remote_control.md
  src/admin/remote_control.py
  tests/fuzz/admin/test_remote_control_fuzz.py
  tests/integration/admin/test_remote_control_integration.py
  tests/property/admin/test_remote_control_properties.py
  tests/unit/admin/test_remote_control_service.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Ensure kill switch response reflects facade state
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Update dependency pins to released versions
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team

Fix release drafter latest flag type
  .github/release-drafter.yml
Owners: none

Update Release Drafter latest reference
  .github/release-drafter.yml
Owners: none

Fix release drafter latest flag
  .github/release-drafter.yml
Owners: none

docs: update risk management example
  docs/examples/README.md
Owners: @neuron7x/documentation-team

Update bandit optimization example
  docs/examples/README.md
Owners: @neuron7x/documentation-team

docs: align text readme with maintained docs
  README.txt
Owners: none

docs: fix metrics example imports
  docs/examples/README.md
Owners: @neuron7x/documentation-team

Add live trading runner and CLI integration
  configs/live/default.toml
  interfaces/cli.py
  interfaces/live_runner.py
  scripts/cli.py
  scripts/commands/__init__.py
  scripts/commands/live.py
  tests/integration/test_live_runner.py
Owners: @neuron7x/qa-team

docs: add installation and deployment guides
  README.md
  docs/deployment.md
  docs/installation.md
Owners: @neuron7x/documentation-team

Improve admin IP resolution and coverage
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Add administrative kill-switch state and reset endpoints
  docs/admin_remote_control.md
  docs/api/admin_remote_control_openapi.yaml
  docs/runbook_live_trading.md
  src/admin/remote_control.py
  src/risk/risk_manager.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Implement short-lived admin credentials for kill switch
  application/api/service.py
  docs/admin_remote_control.md
  docs/runbook_live_trading.md
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
  tests/api/test_service.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add admin rate limiting and metrics instrumentation
  application/api/service.py
  core/utils/metrics.py
  docs/admin_remote_control.md
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add structured Hydra config validation and secret loading
  analytics/runner.py
  conf/config.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  configs/__init__.py
  configs/secrets.py
  configs/settings.py
  docs/configuration.md
  scripts/validate_experiment_configs.py
  tests/unit/config/test_experiment_settings.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Restore DictConfig compatibility for analytics runner
  analytics/runner.py
Owners: none

Add structured experiment config loading with secrets
  analytics/runner.py
  conf/config.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  configs/__init__.py
  configs/secrets.py
  configs/settings.py
  docs/configuration.md
  scripts/validate_experiment_configs.py
  tests/unit/config/test_experiment_settings.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Fix lint issues in ingestion adapter tests
  tests/unit/test_ingestion_adapters.py
Owners: @neuron7x/qa-team

Resolve Hydra interpolations before experiment validation
  configs/settings.py
Owners: none

Add pytest Make targets and document usage
  Makefile
  TESTING.md
  scripts/README.md
Owners: none

Add act profile for CI tests workflow
  .actrc
  .github/act/tests.env
  .github/act/tests.secrets
  TESTING.md
Owners: none

Harden admin API rate limiting and caching
  application/api/service.py
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
  tests/api/test_service.py
Owners: @neuron7x/qa-team

Fix dotenv detection in secret detector
  core/utils/security.py
  tests/unit/test_utils_security.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Sanitize dashboard exports for CSV and Markdown
  ui/dashboard/src/core/index.js
  ui/dashboard/tests/test.js
Owners: none

Add production readiness assessment
  reports/production_readiness.md
Owners: none

Format admin remote control tests for merged API updates
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

test: add ttl cache unit tests
  tests/unit/api/test_ttl_cache.py
Owners: @neuron7x/qa-team

Add tests for API feature request models
  tests/unit/api/test_feature_request_models.py
Owners: @neuron7x/qa-team

Add unit tests for OnlineSignalForecaster
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Refine runtime package exports
  scripts/runtime/__init__.py
Owners: none

Refine runtime package exports
  scripts/runtime/__init__.py
Owners: none

docs: formalize documentation governance framework
  DOCUMENTATION_SUMMARY.md
  docs/documentation_governance.md
  docs/index.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Align runtime package docstring
  scripts/runtime/__init__.py
Owners: none
