Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Fix chunked entropy aggregation
  core/indicators/entropy.py
  tests/unit/test_indicators_entropy.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Clean duplicate future import in entropy module
  core/indicators/entropy.py
Owners: @neuron7x/core-team

Document Hilbert detrending parity
  core/indicators/multiscale_kuramoto.py
Owners: @neuron7x/core-team

Fix Kuramoto indicator scaling and strategy thresholds
  core/indicators/trading.py
  core/strategies/trading.py
  tests/strategies/test_trading_strategies.py
  tests/unit/test_indicators_trading.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix Kuramoto sell threshold overlap
  core/strategies/trading.py
Owners: @neuron7x/core-team

Optimize indicator execution latency
  core/indicators/pipeline.py
  interfaces/cli.py
  tests/unit/test_indicator_pipeline.py
  tests/unit/test_interfaces_cli.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enhance Scenario Studio interface and accessibility
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/styles.css
  apps/web/tests/smoke.spec.ts
Owners: none

Ensure parallel features finish before releasing pooled buffer
  core/indicators/pipeline.py
Owners: @neuron7x/core-team

Add strategy scheduler for automated strategy runs
  core/agent/__init__.py
  core/agent/scheduler.py
  docs/agent.md
  tests/unit/test_agent_scheduler.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Enable parallel strategy orchestration
  core/agent/__init__.py
  core/agent/scheduler.py
  docs/agent.md
  tests/unit/test_agent_scheduler.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Handle scheduler stop timeouts
  core/agent/scheduler.py
Owners: @neuron7x/core-team

Improve scheduler async orchestration
  core/agent/__init__.py
  core/agent/scheduler.py
  docs/agent.md
  tests/unit/test_agent_scheduler.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Improve scheduler result draining
  core/agent/scheduler.py
  docs/agent.md
  tests/unit/test_agent_scheduler.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add strategy orchestration with parallel flow management
  core/agent/__init__.py
  core/agent/orchestrator.py
  docs/agent.md
  tests/unit/test_strategy_orchestrator.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add systemd deployment assets for application server
  DEPLOYMENT.md
  deploy/systemd/README.md
  deploy/systemd/start-tradepulse.sh
  deploy/systemd/tradepulse.service
Owners: @neuron7x/devops-team

Add coverage tests for systemd deployment assets
  tests/deploy/test_systemd_assets.py
Owners: @neuron7x/qa-team

Add REST API for system operations
  application/api/__init__.py
  application/api/system_access.py
  application/system.py
  tests/api/test_system_rest_api.py
Owners: @neuron7x/qa-team

Require reference price for market orders
  application/api/system_access.py
  tests/api/test_system_rest_api.py
Owners: @neuron7x/qa-team

Add integration tests for ingestion cache service
  tests/integration/test_data_ingestion_cache_service_integration.py
Owners: @neuron7x/qa-team

Harden tradepulse deployment
  DEPLOYMENT.md
  deploy/tradepulse-deployment.yaml
  deploy/tradepulse-service.yaml
Owners: @neuron7x/devops-team

Align deployment probes with health endpoint
  deploy/tradepulse-deployment.yaml
Owners: @neuron7x/devops-team

Add data access layer abstraction
  libs/db/__init__.py
  libs/db/access.py
  tests/unit/libs/test_db_access.py
Owners: @neuron7x/qa-team

Persist kill-switch state across restarts
  application/api/service.py
  application/settings.py
  execution/__init__.py
  execution/risk.py
  newsfragments/451.feature.md
  tests/api/test_service.py
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Refresh kill switch state from store
  execution/risk.py
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Expand infrastructure adapters and tracking integrations
  core/experiments/__init__.py
  core/experiments/feature_store.py
  core/experiments/tracking.py
  core/persistence/__init__.py
  core/persistence/timeseries/__init__.py
  core/persistence/timeseries/base.py
  core/persistence/timeseries/clickhouse.py
  core/persistence/timeseries/parquet.py
  core/persistence/timeseries/timescale.py
  deploy/grafana/provisioning/dashboards/dashboard.yml
  deploy/grafana/provisioning/dashboards/tradepulse/README.md
  deploy/grafana/provisioning/datasources/datasource.yml
  docker-compose.yml
  docs/runbooks/secret_management.md
  execution/adapters/__init__.py
  execution/adapters/binance_futures.py
  execution/adapters/bybit.py
  execution/connectors.py
  markets/vpin/src/core/main.py
  observability/README.md
  observability/otel-collector-config.yaml
  observability/slo/tradepulse-slos.yaml
  requirements-dev.lock
  requirements.lock
  requirements.txt
  tests/unit/execution/test_additional_live_connectors.py
  tests/unit/experiments/test_tracking_integrations.py
  tests/unit/markets/test_vpin_core.py
  tests/unit/persistence/test_timeseries_adapters.py
Owners: @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Refine time-series adapters for resilience
  core/persistence/timeseries/parquet.py
  core/persistence/timeseries/timescale.py
  tests/unit/persistence/test_timeseries_adapters.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Optimize Parquet adapter module loading
  core/persistence/timeseries/parquet.py
  tests/unit/persistence/test_timeseries_adapters.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Sanitize time-series identifiers for bandit compliance
  core/persistence/timeseries/base.py
  core/persistence/timeseries/clickhouse.py
  core/persistence/timeseries/timescale.py
  tests/unit/persistence/test_timeseries_adapters.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Bump psycopg to satisfy Python 3.13 builds
  requirements-dev.lock
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team

Harden Docker image for security scans
  Dockerfile
Owners: @neuron7x/devops-team

Add watchdog supervision for execution and ingestion workflows
  cli/tradepulse_cli.py
  core/utils/metrics.py
  execution/__init__.py
  execution/live_loop.py
  execution/watchdog.py
  observability/health.py
  tests/unit/execution/test_watchdog.py
  tests/unit/observability/test_health_server.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Suppress CodeQL weak hash false positives
  execution/adapters/binance.py
  execution/adapters/bybit.py
  execution/adapters/coinbase.py
Owners: @neuron7x/core-team

Handle fatal ingest worker exceptions
  cli/tradepulse_cli.py
Owners: none

Add deterministic in-memory exchange simulator
  core/sim/__init__.py
  core/sim/exchange.py
  execution/adapters/__init__.py
  execution/adapters/simulated.py
  tests/unit/sim/test_exchange_simulator.py
  tests/unit/sim/test_simulated_connector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add trade latency and slippage metrics instrumentation
  core/utils/metrics.py
  docs/monitoring.md
  execution/adapters/base.py
  execution/adapters/coinbase.py
  execution/oms.py
  observability/dashboards/tradepulse-overview.json
  observability/dashboards/tradepulse-pipeline.json
  observability/metrics.json
  tests/unit/test_execution_adapter_metrics.py
  tests/unit/test_execution_system.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Refine adapter trade latency instrumentation
  execution/adapters/base.py
  execution/adapters/coinbase.py
Owners: @neuron7x/core-team

Namespace trade telemetry metrics
  core/utils/metrics.py
  docs/monitoring.md
  observability/dashboards/tradepulse-overview.json
  observability/dashboards/tradepulse-pipeline.json
  observability/metrics.json
  tests/unit/test_execution_adapter_metrics.py
  tests/unit/test_execution_system.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Ensure API tests provide OAuth defaults
  tests/unit/api/test_feature_request_models.py
Owners: @neuron7x/qa-team

feat(ui): add interactive trading control center
  ui/dashboard/src/index.html
  ui/dashboard/src/main.js
  ui/dashboard/src/sample-data.js
  ui/dashboard/src/styles.css
Owners: none

feat: add pnl and status dashboards
  .gitignore
  apps/web/app/page.tsx
  apps/web/app/styles.css
Owners: none
