Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Enhance API health reporting and coverage
  application/api/rate_limit.py
  application/api/service.py
  docs/runbook_live_trading.md
  interfaces/http/openapi/1.0.0.json
  src/admin/remote_control.py
  tests/api/test_service.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Enforce secret identifier presence in policy checks
  application/api/service.py
  application/settings.py
  conftest.py
  deploy/tradepulse-deployment.yaml
  docs/security.md
  src/admin/remote_control.py
  src/audit/audit_logger.py
  src/security/__init__.py
  src/security/secret_manager.py
  src/security/token_authenticator.py
  tests/admin/test_remote_control.py
  tests/api/test_security_dependency.py
  tests/api/test_service.py
  tests/contracts/test_json_schema_contracts.py
  tests/contracts/test_openapi_contracts.py
  tests/fixtures/conftest.py
  tests/security/test_audit_log_redaction.py
  tests/unit/api/test_feature_request_models.py
  tests/unit/api/test_online_signal_forecaster.py
  tests/unit/api/test_ttl_cache.py
  tests/unit/test_admin_settings.py
  tests/unit/test_audit_logger.py
Owners: @neuron7x/qa-team, @neuron7x/devops-team, @neuron7x/documentation-team

Fix client rate limiter snapshot pruning
  application/api/rate_limit.py
Owners: none

Prevent SIEM queue sentinel type collisions
  src/audit/audit_logger.py
Owners: none

Fix plaintext fallback in SQLite re-encryption
  core/data/feature_store.py
Owners: @neuron7x/data-team

Tighten Postgres sslmode enforcement
  core/config/postgres.py
  tests/unit/config/test_experiment_config.py
  tests/unit/libs/test_db_postgres.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enforce admin token on kill switch reset and restore secret envs
  deploy/tradepulse-deployment.yaml
  src/admin/remote_control.py
Owners: @neuron7x/devops-team

Ensure SIEM sink sentinel dequeues promptly
  src/audit/audit_logger.py
Owners: none

Avoid mutating rate limiter snapshot without lock
  application/api/rate_limit.py
Owners: none

Refactor Ricci curvature transport solving
  core/indicators/ricci.py
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat: add managed secret rotation for admin audit logging
  application/api/service.py
  application/secrets/manager.py
  application/settings.py
  docs/admin_remote_control.md
  docs/deployment.md
  src/audit/audit_logger.py
  tests/security/test_audit_log_redaction.py
  tests/unit/api/test_feature_request_models.py
  tests/unit/api/test_ttl_cache.py
  tests/unit/test_admin_settings.py
  tests/unit/test_audit_logger.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Fix ricci curvature helpers for non-integer nodes
  core/indicators/ricci.py
Owners: @neuron7x/core-team

Fix pruning of stale rate limit buckets
  application/api/rate_limit.py
Owners: none

docs: add production security architecture and gateway hand-offs
  application/settings.py
  docs/architecture/system_overview.md
  docs/deployment.md
  docs/rate-limits-and-host-protection.md
  docs/security/architecture.md
  docs/security/assets/data_trust_boundaries.mmd
  docs/security/assets/network_tiers.mmd
  mkdocs.yml
Owners: @neuron7x/documentation-team

docs: add zero trust service mesh runbook
  docs/deployment.md
  docs/governance.md
  docs/security/zero_trust_runbook.md
Owners: @neuron7x/documentation-team

Restore plaintext tolerance during SQLite migration
  core/data/feature_store.py
Owners: @neuron7x/data-team

docs: document iam sso mfa rbac programme
  docs/security/iam.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Refine Ricci curvature transport solvers
  core/indicators/ricci.py
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix double adjustment in transport cycle
  core/indicators/ricci.py
Owners: @neuron7x/core-team

Fix snapshot cleanup scheduling for in-memory limiter
  application/api/rate_limit.py
Owners: none

Add SAST and cross-language SCA gates to security workflow
  .github/workflows/security.yml
  DEPENDENCY_SECURITY_AUDIT.md
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Fix OSV scanner install command
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Stabilize OSV scanner installation
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Expand CI test coverage and update docs
  .github/workflows/tests.yml
  TESTING.md
Owners: @neuron7x/devops-team

Handle OSV scanner asset changes
  .github/workflows/security.yml
  DEPENDENCY_SECURITY_AUDIT.md
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Include analytics tests in pytest discovery
  .github/workflows/tests.yml
  analytics/fpma/tests/test_core.py
  pytest.ini
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Adjust CI test discovery for analytics suites
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Fix OSV scanner arguments for manifest detection
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

Run e2e smoke tests in CI
  .github/workflows/tests.yml
  TESTING.md
  docs/production-readiness.md
  tests/e2e/test_full_pipeline.py
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add coverage-focused tests and raise CI threshold
  .github/workflows/tests.yml
  TESTING.md
  tests/admin/test_remote_control.py
  tests/execution/test_simulated_connectors_failures.py
  tests/integration/test_async_ingestion_resilience.py
  tests/strategies/test_amm_combo_edge_cases.py
  tests/unit/data/test_pipeline_edge_cases.py
  tests/unit/indicators/test_kuramoto_fallbacks.py
  tests/unit/test_observability_exporters.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Add temporal Ricci indicator unit coverage
  tests/unit/indicators/test_temporal_ricci.py
Owners: @neuron7x/qa-team

Shrink temporal Ricci analyzer unit workload
  tests/unit/indicators/test_temporal_ricci.py
Owners: @neuron7x/qa-team

Streamline temporal Ricci unit tests
  tests/unit/indicators/test_temporal_ricci.py
  tests/unit/test_indicators_temporal_ricci.py
Owners: @neuron7x/qa-team

Add secret backends for admin secrets
  SECURITY.md
  application/secrets/backends/__init__.py
  application/secrets/backends/aws.py
  application/secrets/backends/vault.py
  application/secrets/manager.py
  application/settings.py
  docs/deployment.md
Owners: @neuron7x/security-team, @neuron7x/documentation-team

Document security operational controls
  SECURITY.md
Owners: @neuron7x/security-team

Add audit logging for secret manager operations
  SECURITY.md
  application/api/service.py
  application/secrets/manager.py
  application/settings.py
  tests/unit/test_admin_settings.py
Owners: @neuron7x/security-team, @neuron7x/qa-team

Ensure SIEM secret registers with backend
  application/settings.py
Owners: none

Add vault-aware credential backends and tests
  DEPLOYMENT.md
  configs/exchanges/binance.sample.yaml
  configs/exchanges/coinbase.sample.yaml
  configs/live/default.toml
  interfaces/execution/common.py
  interfaces/live_runner.py
  interfaces/secrets/manager.py
  tests/interfaces/dummies.py
  tests/interfaces/test_live_runner_secrets.py
Owners: @neuron7x/qa-team

Expand CodeQL coverage to Go, C++, and Rust
  .github/workflows/security.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team

Refine CodeQL workflows for Go and Rust
  .github/workflows/security.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team
