Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Make Hasbrouck impulse affine invariant
  core/metrics/microstructure.py
  tests/property/test_microstructure_properties.py
  tests/unit/test_metrics_microstructure.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Normalize Hasbrouck impulse for transformation invariance
  core/metrics/microstructure.py
  tests/property/test_microstructure_properties.py
  tests/unit/test_metrics_microstructure.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add integration coverage for ingestion and backfill workflows
  tests/fixtures/cassettes/polygon_agg.json
  tests/integration/test_backfill_gap_fill.py
  tests/integration/test_ingestion_feature_signal_pipeline.py
  tests/integration/test_market_cassettes.py
Owners: @neuron7x/qa-team

Add integration and backtest regression tests
  tests/integration/test_ohlcv_alignment.py
  tests/unit/backtest/test_event_driven_engine.py
  tests/unit/backtest/test_execution_simulation.py
  tests/unit/backtest/test_monte_carlo.py
  tests/unit/backtest/test_performance_metrics.py
Owners: @neuron7x/qa-team

Implement idempotent OMS retries and CLI golden snapshots
  execution/connectors.py
  execution/oms.py
  tests/unit/cli/__snapshots__/backtest.snap
  tests/unit/cli/__snapshots__/ingest.snap
  tests/unit/cli/__snapshots__/report.snap
  tests/unit/cli/test_cli_golden.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add performance regression benchmarks and memory guards
  TESTING.md
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  tests/performance/benchmark_baselines.json
  tests/performance/conftest.py
  tests/performance/test_indicator_benchmarks.py
  tests/performance/test_memory_regression.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Fix CLI golden snapshots to read utf-8
  tests/unit/cli/test_cli_golden.py
Owners: @neuron7x/qa-team

Update hierarchical feature benchmark baseline
  tests/performance/benchmark_baselines.json
Owners: @neuron7x/qa-team

chore(ci): enforce branch coverage and quarantine flakes
  .github/workflows/tests.yml
  README.md
  TESTING.md
  conftest.py
  pyproject.toml
  pytest.ini
  requirements-dev.lock
  requirements-dev.txt
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

test: improve data branch coverage
  core/data/catalog.py
  core/data/feature_store.py
  tests/unit/data/test_catalog_normalization.py
  tests/unit/data/test_data_path_guard.py
  tests/unit/data/test_feature_store_additional.py
  tests/unit/data/test_market_connectors_dead_letter.py
  tests/unit/data/test_market_models_validation.py
  tests/unit/data/test_validation_strictness.py
  tests/unit/test_market_data_connectors.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

ci: allow empty flaky suite
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

ci: guard flaky suite for empty runs
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Add mutation testing gate for core indicators
  .github/workflows/tests.yml
  Makefile
  TESTING.md
  pyproject.toml
  tools/ci/check_mutation_threshold.py
Owners: @neuron7x/devops-team

Restore flaky test job and enforce branch coverage summary
  .github/workflows/tests.yml
  Makefile
  TESTING.md
Owners: @neuron7x/devops-team

Improve release drafter reliability
  .github/actions/release-drafter-retry/action.yml
  .github/workflows/release-drafter.yml
Owners: @neuron7x/devops-team

Handle missing pytest-benchmark plugin in performance tests
  tests/performance/conftest.py
Owners: @neuron7x/qa-team

Persist benchmark summaries as artifacts
  tests/performance/conftest.py
Owners: @neuron7x/qa-team

Improve indicator robustness and performance
  core/indicators/entropy.py
  core/indicators/hierarchical_features.py
  core/indicators/hurst.py
  core/indicators/kuramoto.py
  core/indicators/ricci.py
Owners: @neuron7x/core-team

chore: add automated test reporting summary
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Adjust workflow comment permissions
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Add nightly heavy-math regression suites
  pytest.ini
  tests/nightly/__init__.py
  tests/nightly/test_calendar_resilience.py
  tests/nightly/test_heavy_workflows.py
Owners: @neuron7x/qa-team

Fix Ricci price graph weights for non-finite samples
  core/indicators/ricci.py
Owners: @neuron7x/core-team

Add statistical robustness metrics to performance reporting
  backtest/performance.py
  tests/unit/backtest/test_performance_metrics.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Relax nightly hypothesis strategies
  tests/nightly/test_heavy_workflows.py
  tests/property/test_indicator_properties.py
Owners: @neuron7x/qa-team

docs: align operational readiness control tower
  docs/operational_handbook.md
  docs/operational_readiness_runbooks.md
  docs/runbook_live_trading.md
Owners: @neuron7x/documentation-team

Fix failing CI workflows
  .github/workflows/build-wheels.yml
  .github/workflows/release-drafter.yml
Owners: @neuron7x/devops-team

Improve release drafter workflow resilience
  .github/workflows/release-drafter.yml
Owners: @neuron7x/devops-team

Add secure admin kill-switch endpoint
  application/api/service.py
  docs/admin_remote_control.md
  src/__init__.py
  src/admin/__init__.py
  src/admin/remote_control.py
  src/audit/__init__.py
  src/audit/audit_logger.py
  src/risk/__init__.py
  src/risk/risk_manager.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add live execution orchestrator and runbook
  docs/production-readiness.md
  docs/runbook_live_trading.md
  execution/__init__.py
  execution/live_loop.py
  execution/oms.py
  tests/integration/test_live_loop.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

feat: add authenticated exchange connectors
  configs/exchanges/binance.sample.yaml
  configs/exchanges/coinbase.sample.yaml
  docs/configuration.md
  interfaces/execution/__init__.py
  interfaces/execution/base.py
  interfaces/execution/binance.py
  interfaces/execution/coinbase.py
  interfaces/execution/common.py
  tests/execution/test_binance_connector.py
  tests/execution/test_coinbase_connector.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Fix Coinbase signing payload and HTTP error propagation
  interfaces/execution/coinbase.py
  interfaces/execution/common.py
Owners: none

Add live execution loop orchestrator
  docs/production-readiness.md
  docs/runbook_live_trading.md
  execution/__init__.py
  execution/live_loop.py
  execution/oms.py
  tests/integration/test_live_loop.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

Enhance execution risk and compliance auditing
  core/utils/metrics.py
  execution/audit.py
  execution/compliance.py
  execution/oms.py
  execution/risk.py
  observability/audit/.gitignore
  observability/audit/README.md
  tests/unit/test_execution.py
  tests/unit/test_execution_system.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix release drafter config path
  .github/workflows/release-drafter.yml
Owners: @neuron7x/devops-team

feat: add live exchange connectors
  docs/configuration.md
  execution/adapters/__init__.py
  execution/adapters/base.py
  execution/adapters/binance.py
  execution/adapters/coinbase.py
  execution/connectors.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

Preserve kill switch reason on reaffirmations
  src/risk/risk_manager.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Add validation for kill switch reason
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Improve Release Drafter configuration and documentation
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  README.md
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Normalize Binance stop orders
  docs/configuration.md
  interfaces/execution/binance.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Update release drafter template and docs
  .github/actions/release-drafter-retry/action.yml
  .github/release-drafter.yml
  README.md
Owners: @neuron7x/documentation-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
