Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

fix: update detect-secrets CLI usage
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

ci: whitelist legacy finops validation commit header
  commitlint.config.cjs
  tests/unit/analytics/test_finops_cost_reports.py
Owners: @neuron7x/qa-team

Fix detect-secrets comparison to respect occurrences
  .github/workflows/security.yml
Owners: @neuron7x/devops-team

chore: automate release changelog and gating
  .github/release-drafter.yml
  .github/workflows/publish-python.yml
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  DEPLOYMENT.md
  newsfragments/.gitkeep
  newsfragments/README.md
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  tools/release/towncrier_template.jinja
Owners: @neuron7x/devops-team

Fix release gate to ignore current workflow job
  .github/workflows/publish-python.yml
Owners: @neuron7x/devops-team

Improve release gate filtering for current workflow
  .github/workflows/publish-python.yml
Owners: @neuron7x/devops-team

Harden Docker image with multi-stage build and entrypoint
  Dockerfile
  docker-entrypoint.sh
Owners: @neuron7x/devops-team

fix: harden entrypoint without remounts
  docker-entrypoint.sh
Owners: none

build: harden read-only entrypoint enforcement
  Dockerfile
  docker-entrypoint.sh
Owners: @neuron7x/devops-team

Refine docker compose profiles and health checks
  docker-compose.yml
Owners: @neuron7x/devops-team

Document fuzz robustness gate
  docs/quality_gates.md
Owners: @neuron7x/documentation-team

Add normalization tests for catalog helpers
  tests/unit/data/test_catalog_normalization.py
Owners: @neuron7x/qa-team

feat(config): export TradePulse settings schema
  core/config/__init__.py
  core/config/kuramoto_ricci.py
  docs/configuration.md
  scripts/export_tradepulse_schema.py
  tests/unit/config/test_kuramoto_ricci_config.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Fix derivative symbol normalization for trailing separators
  core/data/catalog.py
Owners: @neuron7x/data-team

Add materialize, train, and serve commands to tradepulse CLI
  cli/tradepulse_cli.py
  configs/templates/materialize.yaml.j2
  configs/templates/serve.yaml.j2
  configs/templates/train.yaml.j2
  core/config/__init__.py
  core/config/cli_models.py
  core/data/__init__.py
  core/data/checkpoint_store.py
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Add CLI aliases and auto-generated docs
  cli/tradepulse_cli.py
  docs/cli.md
  docs/tradepulse_cli_reference.md
  tests/unit/test_tradepulse_cli.py
  tools/docs/generate_tradepulse_cli_docs.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

chore(commitlint): ignore legacy CLI docs message
  commitlint.config.cjs
Owners: none

chore: add dependency security audit helper
  Makefile
  SECURITY.md
  requirements-dev.lock
  requirements-dev.txt
  scripts/dependency_audit.py
Owners: @neuron7x/security-team, @neuron7x/devops-team

Format protobuf schemas for clarity
  libs/proto/market_data.proto
  libs/proto/orderbook.proto
  libs/proto/regime.proto
  libs/proto/vpin.proto
Owners: none

Add FastAPI online inference API and product README
  DOCUMENTATION_SUMMARY.md
  application/api/__init__.py
  application/api/service.py
  docs/product_readme.md
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
  tests/api/test_service.py
Owners: @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

docs: add operational excellence handbook
  .pre-commit-config.yaml
  docs/index.md
  docs/operational_handbook.md
  docs/performance.md
  docs/quality_gates.md
  requirements-dev.lock
  requirements-dev.txt
Owners: @neuron7x/documentation-team, @neuron7x/devops-team

Add roadmap, CI HTML reports, and resilience improvements
  .github/workflows/publish-image.yml
  .github/workflows/publish-python.yml
  .github/workflows/research-artifacts.yml
  .github/workflows/sbom.yml
  .github/workflows/tests.yml
  .gitignore
  NOTICE
  ROADMAP.md
  THIRD_PARTY_LICENSES.md
  core/data/async_ingestion.py
  core/data/materialization.py
  docs/runbook_golden_signals.md
  observability/alerts.json
  observability/metrics.json
  reports/ci_html_reports.py
  scripts/check_sbom_licenses.py
  tests/resilience/test_ingest_materialization.py
  tests/unit/reports/test_ci_html_reports.py
  tests/unit/scripts/test_check_sbom_licenses.py
Owners: @neuron7x/devops-team, @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

Document production readiness gaps
  README.md
  docs/production-readiness.md
  docs/roadmap.md
Owners: @neuron7x/documentation-team

chore: remove commitlint workflow
  .github/workflows/commitlint.yml
Owners: @neuron7x/devops-team

Add resilience tests and license compliance artifacts
  NOTICE
  core/data/async_ingestion.py
  docs/legal/THIRD_PARTY_NOTICES.md
  sbom/combined-requirements.txt
  sbom/cyclonedx-sbom.json
  tests/unit/data/test_stream_materialization.py
  tests/unit/test_async_ingestion.py
  tools/compliance/generate_license_report.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

Refine Kuramoto-Ricci integration CLI
  scripts/integrate_kuramoto_ricci.py
Owners: none

Add resilient data synchronization helper script
  scripts/resilient_data_sync.sh
Owners: none

feat(scripts): replace shell wrappers with python cli
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/improvement_plan.md
  docs/quickstart.md
  scripts/.env.example
  scripts/README.md
  scripts/__init__.py
  scripts/__main__.py
  scripts/cli.py
  scripts/commands/__init__.py
  scripts/commands/base.py
  scripts/commands/dev.py
  scripts/commands/fpma.py
  scripts/commands/lint.py
  scripts/commands/proto.py
  scripts/commands/test.py
  scripts/dev-down.sh
  scripts/dev-up.sh
  scripts/fpma.sh
  scripts/gen-proto.sh
  scripts/lint.sh
  scripts/runtime.py
  scripts/test.sh
  tests/scripts/test_cli.py
  tests/scripts/test_runtime.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add resilient runtime utilities for scripts
  pyproject.toml
  scripts/resilient_data_sync.py
  scripts/runtime/__init__.py
  scripts/runtime/artifacts.py
  scripts/runtime/checksum.py
  scripts/runtime/exit_codes.py
  scripts/runtime/pathfinder.py
  scripts/runtime/progress.py
  scripts/runtime/retry.py
  scripts/runtime/task_queue.py
  scripts/runtime/transfer.py
  scripts/tests/__init__.py
  scripts/tests/test_resilient_data_sync.py
  scripts/tests/test_runtime.py
Owners: none

feat(scripts): add managed registry and observability tooling
  docs/scripts-index.md
  schemas/scripts/amm_synth_output.schema.json
  schemas/scripts/resilient_sync_manifest.schema.json
  scripts/__init__.py
  scripts/manage_scripts.py
  scripts/registry.yaml
  scripts/runtime.py
  scripts/schemas.py
  scripts/tutorial_sample_data.py
  tests/unit/test_script_registry.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Refactor runtime exports to include environment helpers
  scripts/_runtime_core.py
  scripts/runtime.py
  scripts/runtime/__init__.py
Owners: none

feat: add unified automation pipeline
  .github/workflows/tests.yml
  TESTING.md
  configs/migrations/0_to_1.yml
  configs/migrations/README.md
  configs/script_runner.yml
  noxfile.py
  requirements-dev.lock
  requirements-dev.txt
  scripts/automation.py
  scripts/data_sanity.py
  scripts/dependency_audit.py
  scripts/export_tradepulse_schema.py
  scripts/gen-proto.sh
  scripts/gen_synth_amm_data.py
  scripts/integrate_kuramoto_ricci.py
  scripts/lint.sh
  scripts/resilient_data_sync.sh
  scripts/smoke_e2e.py
  scripts/test.sh
  tox.ini
Owners: @neuron7x/devops-team

Refactor runtime helpers to resolve apply_environment import
  scripts/cli.py
  scripts/runtime.py
  scripts/runtime/__init__.py
Owners: none

Export apply_environment from runtime package
  scripts/runtime/__init__.py
Owners: none

Add deterministic indicator regression tests
  tests/unit/test_indicator_deterministic_math.py
Owners: @neuron7x/qa-team

Add signal pipeline stability edge case tests
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

test: harden time validation and normalization coverage
  tests/unit/data/test_validation.py
  tests/unit/execution/test_normalization.py
  tests/unit/test_timeutils.py
Owners: @neuron7x/qa-team

Add property and fuzz tests for data resilience
  tests/fuzz/test_parsers_and_protocols_fuzz.py
  tests/property/test_indicator_properties.py
  tests/property/test_microstructure_properties.py
  tests/property/test_resampling_properties.py
Owners: @neuron7x/qa-team

Fix missing Hypothesis settings import
  tests/property/test_indicator_properties.py
Owners: @neuron7x/qa-team

Adjust Hasbrouck property expectations
  tests/property/test_microstructure_properties.py
Owners: @neuron7x/qa-team
