Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

fix: restore helm provider kubernetes block
  infra/terraform/eks/providers.tf
Owners: none

fix: restore helm provider kubernetes block
  infra/terraform/eks/providers.tf
Owners: none

Use kubernetes argument for helm provider
  infra/terraform/eks/providers.tf
Owners: none

chore(terraform): bump helm provider for kubernetes attr
  infra/terraform/eks/versions.tf
Owners: none

Align helm provider version with lock file
  infra/terraform/eks/versions.tf
Owners: none

Fix helm provider kubernetes configuration
  infra/terraform/eks/providers.tf
  infra/terraform/eks/versions.tf
Owners: none

Fix helm provider configuration block
  infra/terraform/eks/providers.tf
Owners: none

Enhance Binance and Coinbase REST connectors
  execution/adapters/base.py
  execution/adapters/binance.py
  execution/adapters/coinbase.py
  execution/connectors.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add resilient retry and circuit breaker infrastructure
  interfaces/execution/binance.py
  interfaces/execution/coinbase.py
  interfaces/execution/common.py
  tests/execution/test_authenticated_common.py
Owners: @neuron7x/qa-team

feat: add unified tick stream aggregator
  src/data/__init__.py
  src/data/ingestion_service.py
  src/data/streaming_aggregator.py
  tests/unit/data/test_streaming_aggregator.py
Owners: @neuron7x/qa-team

Fix planner cache refresh after registry reset
  src/data/streaming_aggregator.py
Owners: none

fix: rebuild gap planner using current cache
  src/data/streaming_aggregator.py
Owners: none

Fix kustomize namespace inclusion
  DEPLOYMENT.md
  deploy/kustomize/namespaces/production/kustomization.yaml
  deploy/kustomize/namespaces/production/namespace.yaml
  deploy/kustomize/namespaces/staging/kustomization.yaml
  deploy/kustomize/namespaces/staging/namespace.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
Owners: @neuron7x/devops-team

Add Kafka ingestion service with exactly-once guarantees
  src/data/__init__.py
  src/data/kafka_ingestion.py
  tests/unit/data/test_kafka_ingestion_service.py
Owners: @neuron7x/qa-team

Fix idempotency marking to follow transactional commit
  src/data/kafka_ingestion.py
Owners: none

ci: skip staging deploy when kubeconfig missing
  .github/workflows/deploy-environments.yml
Owners: @neuron7x/devops-team

Add fallback warning test for Ricci curvature edge
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

Add safety tests for shortest path fallback
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

Add async fallback regression test for Ricci indicator
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

test: cover ricci fallbacks
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

Handle shortest-path fallbacks when weight metadata is invalid
  core/indicators/ricci.py
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Harden kill-switch SQLite persistence
  execution/risk.py
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enforce data quality gates for kill-switch persistence
  execution/risk.py
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Filter invalid strategy scores before signal generation
  application/system.py
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

Add async fallback coverage to Ricci indicator tests
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

feat(ci): modernize quality gates and security automation
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  pyproject.toml
  pytest.ini
  requirements-dev.txt
Owners: @neuron7x/devops-team, @neuron7x/qa-team

Restore async and fallback tests for Ricci indicators
  tests/unit/test_indicators_ricci.py
Owners: @neuron7x/qa-team

Fix Python 3.10 dependency constraints
  requirements.txt
Owners: @neuron7x/devops-team

Add defensive FastAPI and risk test coverage
  pytest.ini
  tests/api/conftest.py
  tests/api/test_authz.py
  tests/api/test_health_and_auth.py
  tests/api/test_openapi_contract.py
  tests/api/test_rate_limit.py
  tests/backtest/__init__.py
  tests/backtest/strategies.py
  tests/backtest/test_reproducibility.py
  tests/domain/__init__.py
  tests/domain/test_idempotency.py
  tests/integration/test_polygon_adapter.py
  tests/property/test_risk_limits_prop.py
Owners: @neuron7x/qa-team

ci: align coverage workflow python versions
  .github/workflows/ci.yml
Owners: @neuron7x/devops-team

ci: skip codecov upload when token absent
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

feat: add ha postgres infrastructure
  DEPLOYMENT.md
  deploy/kustomize/base/deployment.yaml
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/base/postgres-credentials-secret.yaml
  deploy/kustomize/base/postgres-service.yaml
  deploy/kustomize/base/postgres-tls-secret.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/production/patches/postgres-secrets.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
  deploy/kustomize/overlays/staging/patches/postgres-secrets.yaml
  deploy/postgres/tls/README.md
  deploy/postgres/tls/client/client.crt
  deploy/postgres/tls/client/client.key
  deploy/postgres/tls/client/root-ca.pem
  deploy/postgres/tls/server/client.crt
  deploy/postgres/tls/server/client.key
  deploy/postgres/tls/server/root-ca.pem
  deploy/postgres/tls/server/server.crt
  deploy/postgres/tls/server/server.key
  docker-compose.yml
  docs/docker-quickstart.md
  infra/terraform/eks/README.md
  infra/terraform/eks/main.tf
  infra/terraform/eks/outputs.tf
  infra/terraform/eks/variables.tf
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Update CI workflow to Python 3.11+
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
Owners: @neuron7x/devops-team

Use uv environment for coverage workflow
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
Owners: @neuron7x/devops-team

Relax core dependency floors for Python 3.10 compatibility
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team

Adjust networkx floor for Python 3.10
  docs/legal/THIRD_PARTY_NOTICES.md
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
  sbom/combined-requirements.txt
  sbom/cyclonedx-sbom.json
Owners: @neuron7x/documentation-team, @neuron7x/devops-team

Refactor CI: Python 3.11 only
  .github/workflows/tests.yml
  pyproject.toml
  requirements.txt
Owners: @neuron7x/devops-team

chore: require python 3.11+ in ci
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
  docs/cookbook_backtest_live.md
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

ci: allow python 3.13 prerelease in coverage
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
Owners: @neuron7x/devops-team

chore: stabilise python matrix on 3.11-3.12
  .github/workflows/README_COVERAGE.md
  .github/workflows/build-wheels.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  TESTING.md
  docs/installation.md
  docs/operational_handbook.md
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
