Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

chore: refresh api contract baselines
  interfaces/http/openapi/0.2.0.json
  schemas/http/json/1.0.0/feature_request.schema.json
  schemas/http/json/1.0.0/feature_response.schema.json
  schemas/http/json/1.0.0/prediction_request.schema.json
  schemas/http/json/1.0.0/prediction_response.schema.json
Owners: none

fix: align openapi server urls
  interfaces/http/openapi/0.2.0.json
Owners: none

feat(data): add time-series warehouse integrations
  core/data/__init__.py
  core/data/warehouses/__init__.py
  core/data/warehouses/base.py
  core/data/warehouses/clickhouse.py
  core/data/warehouses/timescale.py
  tests/unit/data/test_warehouses.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add cache warm-up orchestration and metrics instrumentation
  core/utils/metrics.py
  observability/__init__.py
  observability/cache_warmup.py
  tests/unit/observability/test_cache_warmup_controller.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: format ClickHouse DDL strings
  core/data/warehouses/clickhouse.py
Owners: @neuron7x/data-team

fix: align OpenAPI base URLs with versioned paths
  interfaces/http/openapi/0.2.0.json
Owners: none

fix: align OpenAPI base URLs with versioned paths
  interfaces/http/openapi/0.2.0.json
Owners: none

Configure multi-signal HPA and refresh API baselines
  deploy/kustomize/base/hpa.yaml
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/production/patches/hpa-high-throughput.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
  deploy/kustomize/overlays/staging/patches/hpa-limits.yaml
  deploy/loadtests/hpa-k6.js
  docs/deployment.md
  interfaces/http/openapi/0.2.0.json
  schemas/http/json/1.0.0/feature_request.schema.json
  schemas/http/json/1.0.0/feature_response.schema.json
  schemas/http/json/1.0.0/prediction_request.schema.json
  schemas/http/json/1.0.0/prediction_response.schema.json
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Fix OpenAPI server base URLs
  interfaces/http/openapi/0.2.0.json
Owners: none

Add full OpenTelemetry instrumentation for core pipeline
  core/indicators/pipeline.py
  core/utils/metrics.py
  execution/oms.py
  observability/__init__.py
  observability/tracing.py
  tests/unit/observability/test_tracing.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Update admin API baseline for versioned server URLs
  interfaces/http/openapi/0.2.0.json
Owners: none

Fix OpenAPI server URLs
  interfaces/http/openapi/0.2.0.json
Owners: none

Align OpenAPI servers with published endpoints
  application/api/service.py
  schemas/openapi/tradepulse-online-inference-v1.json
Owners: none

Add ClickHouse and Timescale time-series integration
  libs/db/__init__.py
  libs/db/timeseries/__init__.py
  libs/db/timeseries/benchmarks.py
  libs/db/timeseries/clickhouse.py
  libs/db/timeseries/config.py
  libs/db/timeseries/timescale.py
  tests/unit/libs/test_db_timeseries.py
Owners: @neuron7x/qa-team

Fix ClickHouse DDL interpolation and add warehouse support
  core/data/__init__.py
  core/data/warehouses/__init__.py
  core/data/warehouses/base.py
  core/data/warehouses/clickhouse.py
  core/data/warehouses/timescale.py
  core/indicators/pipeline.py
  core/utils/metrics.py
  execution/oms.py
  observability/__init__.py
  observability/tracing.py
  tests/unit/data/test_warehouses.py
  tests/unit/observability/test_tracing.py
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/qa-team

Fix ClickHouse close computation in OHLCV query
  libs/db/timeseries/clickhouse.py
Owners: none

Add secure warehouse integrations and validation tests
  bandit-report.json
  core/data/warehouses/__init__.py
  core/data/warehouses/_validators.py
  core/data/warehouses/base.py
  core/data/warehouses/clickhouse.py
  core/data/warehouses/timescale.py
  tests/core/data/warehouses/test_validation.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Fix Timescale extension bootstrap statement
  core/data/warehouses/timescale.py
Owners: @neuron7x/data-team

docs: add canary release guardrails playbook
  docs/canary_release_guardrails.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Refine canary guardrails documentation
  docs/canary_release_guardrails.md
Owners: @neuron7x/documentation-team

Add shadow deployment orchestrator for live strategy tests
  execution/shadow.py
  tests/execution/test_shadow.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add comprehensive drift monitoring orchestration
  observability/__init__.py
  observability/drift.py
  tests/unit/observability/test_drift_monitoring.py
Owners: @neuron7x/qa-team

Fix KS severity calculation for KS metrics
  observability/drift.py
Owners: none

Ensure guardrails validate bound ordering
  observability/__init__.py
  observability/drift.py
  tests/unit/observability/test_drift_monitoring.py
Owners: @neuron7x/qa-team

docs: add validation report for pr799
  observability/__init__.py
  observability/drift.py
  reports/validation_pr799.md
  tests/unit/observability/test_drift_monitoring.py
Owners: @neuron7x/qa-team

tests: import dependencies for drift monitoring tests
  tests/unit/observability/test_drift_monitoring.py
Owners: @neuron7x/qa-team

fix: align KS threshold with significance
  observability/drift.py
Owners: none

Add Optuna-driven strategy hyperparameter search
  core/experiments/__init__.py
  core/experiments/optuna_search.py
  requirements.txt
  tests/unit/experiments/test_optuna_search.py
Owners: @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/qa-team

Fix improvement calculation for minimization studies
  core/experiments/optuna_search.py
Owners: @neuron7x/core-team

feat: add declarative strategy pipeline dsl
  core/strategies/__init__.py
  core/strategies/dsl.py
  tests/unit/strategies/sample_components.py
  tests/unit/strategies/test_strategy_dsl.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix deterministic pipeline signature
  core/strategies/dsl.py
Owners: @neuron7x/core-team

Add synthetic scenario generator for stress experiments
  backtest/__init__.py
  backtest/synthetic.py
  tests/unit/backtest/test_synthetic.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Adjust synthetic order book to reflect spread widening
  backtest/synthetic.py
Owners: @neuron7x/core-team

Add transaction cost analysis module
  analytics/__init__.py
  analytics/tca.py
  analytics/tests/test_tca.py
Owners: none

Add portfolio attribution analytics engine
  analytics/__init__.py
  analytics/portfolio_attribution.py
  analytics/tests/test_portfolio_attribution.py
Owners: none

Handle zero-volume benchmarks in market VWAP
  analytics/tca.py
  analytics/tests/test_tca.py
Owners: none

Validate instrument exposures column alignment
  analytics/portfolio_attribution.py
  analytics/tests/test_portfolio_attribution.py
Owners: none

docs: add zero downtime schema migration playbook
  docs/zero_downtime_schema_migrations.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Enhance zero downtime migration playbook
  docs/zero_downtime_schema_migrations.md
Owners: @neuron7x/documentation-team

Add capital allocation optimizer
  execution/__init__.py
  execution/capital_optimizer.py
  tests/execution/test_capital_optimizer.py
Owners: @neuron7x/core-team, @neuron7x/qa-team
