Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

chore: harden packaging and release automation
  .github/workflows/publish-image.yml
  .github/workflows/publish-python.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  SECURITY.md
  TESTING.md
  backtest/__init__.py
  docs/docker-quickstart.md
  docs/faq.md
  docs/onboarding.md
  docs/quickstart.md
  docs/scenarios.md
  docs/troubleshooting.md
  execution/__init__.py
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
  requirements.txt
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/security-team, @neuron7x/core-team

fix: guard pytest profiling on python 3.13
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
Owners: @neuron7x/devops-team

feat: add unified TradePulse CLI with data governance
  cli/tradepulse_cli.py
  configs/templates/backtest.yaml.j2
  configs/templates/exec.yaml.j2
  configs/templates/ingest.yaml.j2
  configs/templates/optimize.yaml.j2
  configs/templates/report.md.j2
  configs/templates/report.yaml.j2
  core/config/__init__.py
  core/config/cli_models.py
  core/config/template_manager.py
  core/data/__init__.py
  core/data/feature_catalog.py
  core/data/versioning.py
  core/strategies/__init__.py
  core/strategies/objectives.py
  core/strategies/signals.py
  pyproject.toml
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Add click dependency to requirements
  requirements-dev.txt
  requirements.txt
Owners: @neuron7x/devops-team

Simplify TradePulse CLI and restore coverage
  cli/tradepulse_cli.py
  configs/templates/backtest.yaml.j2
  configs/templates/exec.yaml.j2
  configs/templates/ingest.yaml.j2
  configs/templates/optimize.yaml.j2
  configs/templates/report.md.j2
  configs/templates/report.yaml.j2
  core/config/cli_models.py
  core/config/template_manager.py
  core/data/feature_catalog.py
  core/data/versioning.py
  core/strategies/__init__.py
  core/strategies/objectives.py
  core/strategies/signals.py
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/core-team, @neuron7x/data-team, @neuron7x/qa-team

Add QA coverage and release automation
  .github/workflows/publish-python.yml
  cli/tradepulse_cli.py
  configs/templates/report.yaml.j2
  core/config/cli_models.py
  core/reporting/__init__.py
  core/reporting/generator.py
  core/reporting/renderers.py
  tests/e2e/test_full_pipeline.py
  tests/fuzz/test_ingestion_fuzz.py
  tests/property/test_execution_connector_properties.py
  tests/property/test_ingestion_adapter_properties.py
  tests/tolerances.py
  tests/unit/test_conventional_changelog.py
  tests/unit/test_ingestion_adapters.py
  tests/unit/test_report_renderers.py
  tools/release/conventional_changelog.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/qa-team

test: make report assertions case-insensitive
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/qa-team

Add CODEOWNERS policies and regression instrumentation
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  core/metrics/__init__.py
  core/metrics/regression.py
  core/utils/metrics.py
  tests/unit/metrics/test_regression_metrics.py
  tests/unit/test_indicators_kuramoto.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add readiness checklist and harden coverage for ops-critical modules
  docs/index.md
  reports/coverage_analysis_report.md
  reports/prod_cutover_readiness_checklist.md
  reports/release_readiness.md
  tests/unit/indicators/test_kuramoto_fallbacks.py
  tests/unit/utils/test_security.py
  tests/unit/utils/test_slo.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add governance playbook for data controls and RBAC
  docs/governance.md
  docs/index.md
Owners: @neuron7x/documentation-team

feat: add event schema registry and messaging bus
  Makefile
  README.md
  buf.gen.yaml
  core/events/__init__.py
  core/events/models.py
  core/messaging/__init__.py
  core/messaging/event_bus.py
  core/messaging/idempotency.py
  core/messaging/schema_registry.py
  libs/proto/events.proto
  schemas/events/avro/v1/bar.avsc
  schemas/events/avro/v1/fill.avsc
  schemas/events/avro/v1/order.avsc
  schemas/events/avro/v1/signal.avsc
  schemas/events/avro/v1/tick.avsc
  schemas/events/registry.json
  tests/unit/messaging/test_event_bus.py
  tests/unit/messaging/test_schema_registry.py
  tools/schema/generate_event_types.py
  tools/schema/validate_compatibility.py
  ui/dashboard/src/types/events.ts
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

test: cover messaging event flows
  tests/unit/events/test_models.py
  tests/unit/messaging/test_event_bus_extended.py
  tests/unit/messaging/test_schema_registry.py
Owners: @neuron7x/qa-team

Implement LOB simulator and microstructure metrics
  core/metrics/__init__.py
  core/metrics/microstructure.py
  markets/orderbook/src/__init__.py
  markets/orderbook/src/core/__init__.py
  markets/orderbook/src/core/lob.py
  markets/orderbook/src/core/main.py
  markets/orderbook/tests/test_core.py
Owners: @neuron7x/core-team

Fix fpma init script syntax and lint issues
  tests/unit/test_performance_optimizations.py
  tools/vendor/fpma/generators/init_repo.py
Owners: @neuron7x/qa-team

Fix secret detector ignore pattern
  core/utils/security.py
  tests/unit/test_utils_security.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add execution QA analytics and compliance safeguards
  analytics/execution_quality.py
  docs/execution.md
  execution/__init__.py
  execution/compliance.py
  tests/unit/test_compliance_monitor.py
  tests/unit/test_execution_quality.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

docs: codify latency SLOs and instrumentation
  docs/monitoring.md
  docs/reliability.md
  observability/alerts.json
  observability/generated/manifest.json
  observability/generated/prometheus/alerts.yaml
  observability/metrics.json
Owners: @neuron7x/documentation-team

feat: instrument latency metrics for order acknowledgements
  core/utils/metrics.py
  execution/oms.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: emit latency gauges for execution slo alerts
  core/utils/metrics.py
  docs/monitoring.md
  execution/oms.py
  tests/unit/test_execution_system.py
  tests/unit/test_metrics_collector.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add numeric stability safeguards and tests
  conftest.py
  tests/tolerances.py
  tests/unit/test_indicator_pipeline.py
  tests/unit/test_indicators_kuramoto.py
  tests/unit/test_indicators_kuramoto_multiscale.py
  tests/unit/test_numeric_stability.py
  tests/unit/test_runtime_threads.py
Owners: @neuron7x/qa-team

Add Polars pipeline helpers and indicator microbenchmarks
  bench/bench_indicators.py
  core/data/polars_pipeline.py
  docs/performance.md
Owners: @neuron7x/data-team, @neuron7x/documentation-team

Add tests for Polars pipeline utilities
  tests/unit/test_polars_pipeline_utils.py
Owners: @neuron7x/qa-team

Fix zero-copy helper streaming defaults
  core/data/polars_pipeline.py
Owners: @neuron7x/data-team

feat: add rust accelerators and adaptive gpu backend
  .gitignore
  core/accelerators/__init__.py
  core/accelerators/numeric.py
  core/indicators/entropy.py
  core/strategies/signals.py
  core/utils/metrics.py
  docs/performance.md
  requirements-dev.txt
  rust/tradepulse-accel/Cargo.lock
  rust/tradepulse-accel/Cargo.toml
  rust/tradepulse-accel/README.md
  rust/tradepulse-accel/pyproject.toml
  rust/tradepulse-accel/src/lib.rs
  tests/unit/test_indicators_entropy.py
  tests/unit/test_numeric_accelerators.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

Handle numpy optional dependency in accelerators
  core/accelerators/numeric.py
  tests/unit/test_numeric_accelerators_no_numpy.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add accelerator edge case coverage
  tests/unit/test_numeric_accelerators_edge_cases.py
Owners: @neuron7x/qa-team

Add microstructure metric coverage tests
  tests/unit/test_metrics_microstructure.py
Owners: @neuron7x/qa-team

Guard metrics accelerator import when NumPy is absent
  core/utils/metrics.py
Owners: @neuron7x/core-team

Add feature store materialization and cross-platform packaging
  .github/workflows/publish-python.yml
  .github/workflows/tests.yml
  Makefile
  README.md
  core/feature_store/__init__.py
  core/feature_store/config.py
  core/feature_store/materialization.py
  core/feature_store/models.py
  core/feature_store/offline.py
  core/feature_store/online.py
  flake.nix
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  requirements.txt
  scripts/packaging/verify_wheels.py
  tests/smoke/test_feature_store.py
  tests/unit/feature_store/__init__.py
  tests/unit/feature_store/test_materialization.py
  tests/unit/feature_store/test_online_stores.py
  uv.lock
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

Make pyarrow optional for feature store
  README.md
  core/feature_store/offline.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
  tests/smoke/test_feature_store.py
  tests/unit/feature_store/test_materialization.py
  uv.lock
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/qa-team

Fix feature store overwrite and install extras in CI
  .github/workflows/tests.yml
  core/feature_store/materialization.py
  tests/unit/feature_store/test_materialization.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/qa-team

Gate profiling deps on Python <3.13
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
Owners: @neuron7x/devops-team

Create uv virtualenv before syncing deps
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Ensure smoke workflow runs inside uv virtualenv
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Set up uv virtual environment in CI tests workflow
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Use virtualenv python for pytest in CI
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Merge remote-tracking branch 'origin/main'
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

docs: blueprint for feature parity and model registry controls
  docs/feature_store_sync_and_registry.md
Owners: @neuron7x/documentation-team

Document drift guardrails and causal validation controls
  docs/risk_ml_observability.md
Owners: @neuron7x/documentation-team

Add stress testing and portfolio allocation playbooks
  docs/index.md
  docs/stress_playbooks.md
Owners: @neuron7x/documentation-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
