Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Add FinOps cost control controller and tests
  observability/__init__.py
  observability/finops.py
  tests/observability/test_finops.py
Owners: @neuron7x/qa-team

Standardize Hydra experiment configuration profiles
  analytics/runner.py
  conf/experiment/base.yaml
  conf/experiment/ci.yaml
  conf/experiment/local.yaml
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  core/config/__init__.py
  core/config/cli_models.py
  core/config/hydra_profiles.py
  tests/unit/test_hydra_profiles.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add Rust benchmarks and baseline-aware numeric benchmarking
  bench/bench_numeric_accelerators.py
  rust/tradepulse-accel/Cargo.lock
  rust/tradepulse-accel/Cargo.toml
  rust/tradepulse-accel/README.md
  rust/tradepulse-accel/benches/numeric.rs
  rust/tradepulse-accel/src/lib.rs
Owners: none

Fix timezone-aware clock for FinOps controller
  observability/finops.py
Owners: none

Fix experiment profile validation to respect Hydra runtime choice
  analytics/runner.py
Owners: none

Add authorization role guard tests
  tests/api/test_authorization.py
Owners: @neuron7x/qa-team

test: cover security role extraction
  tests/api/test_security_roles.py
Owners: @neuron7x/qa-team

Add tests for sliding window rate limiter
  tests/api/test_rate_limit.py
Owners: @neuron7x/qa-team

Fix secret audit metadata for managed resolver secrets
  application/secrets/manager.py
Owners: none

Add snapshotting and compaction to order ledger
  execution/order_ledger.py
  tests/execution/test_order_ledger.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

chore: align dependency hygiene workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/publish-python.yml
  .github/workflows/sbom.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  DEPENDENCY_SECURITY_AUDIT.md
  Makefile
  constraints.txt
  core/utils/logging.py
  dev.in
  dev.txt
  requirements-dev.lock
  requirements-dev.txt
  requirements.in
  requirements.lock
  scripts/README_dependency_audit.md
  scripts/dep_update.sh
  scripts/dependency_audit.py
Owners: @neuron7x/devops-team, @neuron7x/core-team

Add coordinated idempotency utilities and tests
  core/idempotency/__init__.py
  core/idempotency/keys.py
  core/idempotency/operations.py
  tests/unit/idempotency/test_operations.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: restore tabs for dependency targets
  Makefile
Owners: none

Prevent downgrading successful idempotent operations
  core/idempotency/operations.py
  tests/unit/idempotency/test_operations.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enhance dead letter handling and replay governance
  core/data/connectors/__init__.py
  core/data/connectors/market.py
  core/data/dead_letter.py
  tests/unit/data/test_dead_letter_tooling.py
  tests/unit/data/test_market_connectors_dead_letter.py
  tests/unit/test_market_data_connectors.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Ensure dead-letter persistence holds queue lock
  core/data/dead_letter.py
Owners: @neuron7x/data-team

feat(data): add event watermark backlog coordinator
  src/data/__init__.py
  src/data/backlog_watermark.py
  tests/unit/data/test_backlog_watermark.py
Owners: @neuron7x/qa-team

test: harden data pipelines coverage
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/publish-python.yml
  .github/workflows/sbom.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  DEPENDENCY_SECURITY_AUDIT.md
  Makefile
  constraints.txt
  core/utils/logging.py
  dev.in
  dev.txt
  requirements-dev.lock
  requirements-dev.txt
  requirements.in
  requirements.lock
  scripts/README_dependency_audit.md
  scripts/dep_update.sh
  scripts/dependency_audit.py
  tests/unit/data/test_asset_catalog.py
  tests/unit/data/test_feature_parity.py
  tests/unit/data/test_market_connectors_core.py
  tests/unit/data/test_normalization_pipeline.py
  tests/unit/data/test_quality_control.py
  tests/unit/experiments/test_registry.py
  tests/unit/test_strategy_sandbox.py
Owners: @neuron7x/devops-team, @neuron7x/core-team, @neuron7x/qa-team

fix: expire inactive watermark sources
  src/data/backlog_watermark.py
  tests/unit/data/test_backlog_watermark.py
Owners: @neuron7x/qa-team

fix: restore tabs in make targets
  Makefile
Owners: none

Optimize Polars parquet pipeline and add diagnostics
  core/data/polars_pipeline.py
  docs/performance.md
  tests/unit/test_polars_pipeline_utils.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

Ensure partition filters skip non matching files
  core/data/polars_pipeline.py
  tests/unit/test_polars_pipeline_utils.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Implement robust L2 order book ingest
  markets/orderbook/src/__init__.py
  markets/orderbook/src/ingest/__init__.py
  markets/orderbook/src/ingest/consistency.py
  markets/orderbook/src/ingest/exchanges/__init__.py
  markets/orderbook/src/ingest/exchanges/binance.py
  markets/orderbook/src/ingest/exchanges/okx.py
  markets/orderbook/src/ingest/ingester.py
  markets/orderbook/src/ingest/metrics.py
  markets/orderbook/src/ingest/models.py
  markets/orderbook/src/ingest/state.py
  markets/orderbook/tests/test_ingest_streams.py
Owners: none

Avoid truncating order book state on scheduled snapshots
  markets/orderbook/src/ingest/ingester.py
Owners: none

Implement resilient backfill planner orchestration
  core/data/backfill.py
  tests/unit/data/test_backfill_executor.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add async market data tests with fake ingestor
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

Add async market data tests with fake ingestor
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

Add tests for submit_signal defaults
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

Serialise cache merges in gap fill planner
  core/data/backfill.py
Owners: @neuron7x/data-team

Add versioned OpenAPI contract and idempotency support
  application/api/idempotency.py
  application/api/service.py
  schemas/openapi/tradepulse-online-inference-v1.json
  scripts/generate_openapi.py
  tests/api/test_openapi_contract.py
  tests/api/test_service.py
Owners: @neuron7x/qa-team

Fix idempotency cache conflict handling
  application/api/idempotency.py
  application/api/service.py
  tests/unit/idempotency/test_api_cache.py
Owners: @neuron7x/qa-team

Add tests for submit_signal exit defaults
  tests/unit/test_tradepulse_system.py
Owners: @neuron7x/qa-team

feat(secrets): add hashicorp vault client and runbooks
  SECURITY.md
  application/secrets/hashicorp.py
  docs/index.md
  docs/operational_readiness_runbooks.md
  docs/runbook_secret_leak.md
  docs/runbook_secret_rotation.md
  scripts/cli.py
  scripts/commands/__init__.py
  scripts/commands/secrets.py
  tests/security/test_hashicorp_vault_client.py
Owners: @neuron7x/security-team, @neuron7x/documentation-team, @neuron7x/qa-team

fix: include namespace header for oidc login
  application/secrets/hashicorp.py
Owners: none

Implement centralized RBAC gateway with policy enforcement
  application/api/authorization.py
  application/api/system_access.py
  application/security/rbac.py
  configs/rbac/policy.yaml
  tests/api/test_authorization.py
  tests/api/test_system_rest_api.py
  tests/security/test_rbac_gateway.py
Owners: @neuron7x/qa-team

Fix trade attribute defaults and enforce header checks
  application/api/system_access.py
  tests/api/test_system_rest_api.py
Owners: @neuron7x/qa-team

Harden RBAC audit secret handling and trade attributes
  application/api/authorization.py
  application/api/system_access.py
  tests/api/test_authorization.py
  tests/api/test_system_rest_api.py
Owners: @neuron7x/qa-team

feat(execution): add Kraken spot REST connector
  .env.example
  DEPLOYMENT.md
  configs/live/default.toml
  docs/configuration.md
  execution/adapters/__init__.py
  execution/adapters/kraken.py
  execution/connectors.py
  tests/execution/test_adapter_registry.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

fix(execution): send Kraken signatures with form payloads
  execution/adapters/base.py
  execution/adapters/binance.py
  execution/adapters/coinbase.py
  execution/adapters/kraken.py
  tests/execution/test_rest_base_connector.py
  tests/execution/test_rest_connectors.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat: harden event schema governance
  Makefile
  core/events/models.py
  core/messaging/__init__.py
  core/messaging/schema_registry.py
  docs/integrations/event_channels.md
  schemas/events/avro/v1.0.0/tick.avsc
  schemas/events/json/1.0.0/orders.schema.json
  schemas/events/json/1.0.0/ticks.schema.json
  schemas/events/registry.json
  tests/unit/messaging/test_schema_registry.py
  tools/schema/render_catalog.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team
