Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Improve Codecov authentication fallback
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

хотфікс
  PR_BODY.md
  patches/ci.yml.diff
  patches/tests.yml.diff
Owners: none

Disable Codecov OIDC uploads on CI workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Restrict workflows to Python 3.11 and regenerate patches
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  patches/ci.yml.diff
  patches/tests.yml.diff
Owners: @neuron7x/devops-team

feat: enforce strict data quality gates
  core/data/quality_control.py
  tests/unit/data/test_quality_control.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add Grafana provisioning for docker and kustomize
  DEPLOYMENT.md
  deploy/kustomize/grafana/deployment.yaml
  deploy/kustomize/grafana/kustomization.yaml
  deploy/kustomize/grafana/pvc.yaml
  deploy/kustomize/grafana/service.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/production/secrets/grafana-admin.env
  deploy/kustomize/overlays/staging/kustomization.yaml
  deploy/kustomize/overlays/staging/secrets/grafana-admin.env
  docker-compose.yml
  docs/monitoring.md
  observability/grafana/provisioning/dashboards/default.yaml
  observability/grafana/provisioning/datasources/prometheus.yaml
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Add secure Kafka infrastructure and documentation
  configs/live/default.toml
  configs/local/README.md
  configs/local/kafka/ca.crt
  configs/local/kafka/ca.key
  configs/local/kafka/client.crt
  configs/local/kafka/client.key
  configs/local/kafka/server.crt
  configs/local/kafka/server.key
  deploy/kustomize/components/kafka/README.md
  deploy/kustomize/components/kafka/kustomization.yaml
  deploy/kustomize/overlays/production/kafka-secrets.yaml
  deploy/kustomize/overlays/production/kustomization.yaml
  deploy/kustomize/overlays/staging/kafka-secrets.yaml
  deploy/kustomize/overlays/staging/kustomization.yaml
  docker-compose.yml
  docs/deployment.md
  docs/runbook_live_trading.md
  infra/terraform/eks/README.md
  infra/terraform/eks/environments/production.tfvars
  infra/terraform/eks/environments/staging.tfvars
  infra/terraform/eks/main.tf
  infra/terraform/eks/outputs.tf
  infra/terraform/eks/variables.tf
  infra/terraform/modules/msk/README.md
  infra/terraform/modules/msk/main.tf
  infra/terraform/modules/msk/outputs.tf
  infra/terraform/modules/msk/variables.tf
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Handle timezone mismatches in temporal contract enforcement
  core/data/quality_control.py
Owners: @neuron7x/data-team

Ensure Grafana dashboards ConfigMap not masked by PVC
  deploy/kustomize/grafana/deployment.yaml
Owners: @neuron7x/devops-team

Inject Kafka client configuration into live overlays
  deploy/kustomize/overlays/production/kafka-secrets.yaml
  deploy/kustomize/overlays/production/patches/deployment-high-availability.yaml
  deploy/kustomize/overlays/staging/kafka-secrets.yaml
  deploy/kustomize/overlays/staging/patches/deployment-resources.yaml
Owners: @neuron7x/devops-team

Source Kafka protocol settings from secrets
  deploy/kustomize/overlays/production/kafka-secrets.yaml
  deploy/kustomize/overlays/production/patches/deployment-high-availability.yaml
  deploy/kustomize/overlays/staging/kafka-secrets.yaml
  deploy/kustomize/overlays/staging/patches/deployment-resources.yaml
Owners: @neuron7x/devops-team

Add PostgreSQL kill-switch persistence backend
  application/api/service.py
  application/settings.py
  docs/runbook_kill_switch_failover.md
  docs/runbook_live_trading.md
  execution/risk.py
  migrations/postgres/0001_create_kill_switch_state_table.sql
  migrations/postgres/README.md
  tests/api/test_service.py
  tests/unit/execution/test_kill_switch_store.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/qa-team

feat(core): add hydra-driven reference trading core
  README.md
  conf/exec/backtest.yaml
  conf/exec/live.yaml
  conf/exec/paper.yaml
  conf/hydra/sweeper/optuna.yaml
  conf/risk/dd_limits.yaml
  conf/risk/vol_target_10.yaml
  conf/strategy/amm.yaml
  conf/strategy/meanrev.yaml
  conf/strategy/trend.yaml
  conf/trading.yaml
  core/backtest.py
  core/engine.py
  core/execution.py
  core/tca.py
  core/utils_time.py
  data/__init__.py
  data/loaders.py
  data/reference_bars.csv
  main.py
  notebooks/EDA.ipynb
  notebooks/WFA_report.ipynb
  requirements.txt
  risk/__init__.py
  risk/limits.py
  risk/manager.py
  risk/sizing.py
  strategies/__init__.py
  strategies/amm/__init__.py
  strategies/amm/uniswap_v3.py
  strategies/amm/uniswap_v4_hooks/__init__.py
  strategies/amm/uniswap_v4_hooks/hooks_interface.sol
  strategies/base.py
  strategies/meanrev.py
  strategies/trend.py
  tests/test_amm.py
  tests/test_backtest.py
  tests/test_meanrev.py
  tests/test_risk.py
  tests/test_trend.py
Owners: @neuron7x/documentation-team, @neuron7x/core-team, @neuron7x/devops-team, @neuron7x/qa-team

feat: add mlflow fallback
  core/backtest.py
  core/engine.py
  core/mlflow_utils.py
Owners: @neuron7x/core-team

Add rigorous property-based verification for key indicators
  tests/property/test_indicator_properties.py
Owners: @neuron7x/qa-team

Add comprehensive unit tests for phase detector
  tests/unit/test_phase.py
Owners: @neuron7x/qa-team

chore(ci): upload pytest coverage artifact
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
Owners: @neuron7x/devops-team

docs: add coverage quick reference table
  .github/workflows/README_COVERAGE.md
Owners: @neuron7x/devops-team

Optimize trading indicators
  core/indicators/trading.py
Owners: @neuron7x/core-team

Add lint and type checking workflow job
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Enhance strategy scheduler capabilities
  core/agent/scheduler.py
  tests/unit/test_agent_scheduler.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add linting and formatting automation across stacks
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  scripts/commands/lint.py
  ui/dashboard/eslint.config.js
  ui/dashboard/package.json
  ui/dashboard/tsconfig.json
Owners: @neuron7x/devops-team

feat: extend strategy orchestration controls
  core/agent/orchestrator.py
  tests/unit/test_strategy_orchestrator.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix cron job retry scheduling after failure
  core/agent/scheduler.py
Owners: @neuron7x/core-team

Guard submit_flow enqueue against shutdown
  core/agent/orchestrator.py
Owners: @neuron7x/core-team

Expand CI to Python 3.12 and 3.13
  .github/workflows/README_COVERAGE.md
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

feat(ci): add canary rollout to deploy workflow
  .github/workflows/deploy-environments.yml
Owners: @neuron7x/devops-team

chore(ci): cache dependencies for tests and coverage
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Add performance benchmark workflow job
  .github/workflows/tests.yml
Owners: @neuron7x/devops-team

Switch deploy workflow to OIDC-based kubeconfig
  .github/workflows/deploy-environments.yml
  DEPLOYMENT.md
Owners: @neuron7x/devops-team

Add deployment health checks and artifacts
  .github/workflows/deploy-environments.yml
Owners: @neuron7x/devops-team

Add validation coverage for tick stream aggregator
  tests/unit/data/test_streaming_aggregator.py
Owners: @neuron7x/qa-team

Allow staging AWS credential step to fail gracefully
  .github/workflows/deploy-environments.yml
Owners: @neuron7x/devops-team

feat: add pagination and filtering to inference API
  application/api/service.py
  interfaces/http/openapi/0.2.0.json
  tests/api/test_service.py
  tests/contracts/test_openapi_contracts.py
Owners: @neuron7x/qa-team

Expose API metrics endpoint for deployment health checks
  application/api/service.py
  tests/unit/api/test_service_metrics_endpoint.py
Owners: @neuron7x/qa-team

Fix inference pagination filtering
  application/api/service.py
Owners: none

Preserve metrics collector references when configuring registry
  application/api/service.py
Owners: none

Format smoke test imports and statements
  tests/e2e/test_smoke.py
Owners: @neuron7x/qa-team

Tidy neuro calibration test formatting
  tests/neuro/test_calibration.py
Owners: @neuron7x/qa-team

Fix health metrics collector shadowing and refresh API schemas
  application/api/service.py
  interfaces/http/openapi/0.2.0.json
  schemas/http/json/1.0.0/feature_response.schema.json
  schemas/http/json/1.0.0/prediction_response.schema.json
Owners: none
