Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

Add configurable MACD signal smoothing
  analytics/signals/pipeline.py
  docs/operational_handbook.md
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add MACD component features to signal pipeline
  analytics/signals/pipeline.py
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Enhance MACD heuristics for online forecaster
  application/api/service.py
  docs/operational_handbook.md
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Enforce MACD feature requirements for online forecasts
  analytics/signals/pipeline.py
  application/api/service.py
  tests/api/test_service.py
  tests/unit/analytics/test_signals_pipeline.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Include MACD signal outputs in feature pipeline
  analytics/signals/pipeline.py
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Adjust EMA availability and add MACD regression test
  analytics/signals/pipeline.py
  data/golden/indicator_macd_baseline.csv
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Add MACD signal line and histogram features
  analytics/signals/pipeline.py
  data/golden/README.md
  data/golden/indicator_macd_baseline.csv
  docs/operational_handbook.md
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add MACD golden regression test and align pipeline outputs
  analytics/signals/pipeline.py
  data/golden/indicator_macd_baseline.csv
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Align MACD signal with golden baseline
  analytics/signals/pipeline.py
  data/golden/indicator_macd_baseline.csv
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Add MACD histogram feature with documentation and tests
  analytics/signals/pipeline.py
  data/golden/README.md
  docs/operational_handbook.md
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team

Add MACD EMA components to signal features
  analytics/signals/pipeline.py
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Add MACD golden baseline regression test
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Add async AdminRateLimiter interval reset test
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Add test for kill switch default subject fallback
  tests/admin/test_remote_control.py
Owners: @neuron7x/qa-team

Enhance MACD-derived scoring and expand convergence tests
  application/api/service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Enforce MACD convergence requirements for online signals
  application/api/service.py
  tests/api/test_service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Enhance online forecaster MACD handling
  application/api/service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Validate MACD features before scoring
  application/api/service.py
  tests/api/test_service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Validate MACD feature availability
  application/api/service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Ensure MACD components are exposed via API responses
  application/api/service.py
  tests/api/test_service.py
Owners: @neuron7x/qa-team

chore: enforce branch coverage thresholds in CI
  .github/pull_request_template.md
  .github/workflows/coverage.yml
  CONTRIBUTING.md
  codecov.yml
Owners: @neuron7x/devops-team, @neuron7x/documentation-team

Optimize MACD feature validation
  application/api/service.py
  tests/api/test_service.py
  tests/unit/api/test_online_signal_forecaster.py
Owners: @neuron7x/qa-team

Add strict coverage CI pipeline
  .coveragerc
  .github/pull_request_template.md
  .github/workflows/ci.yml
  Makefile
  ci/compare_coverage.py
  codecov.yml
  pytest.ini
  requirements-dev.txt
  src/example/__init__.py
  src/example/math_ops.py
  tests/test_math_ops.py
Owners: @neuron7x/devops-team, @neuron7x/qa-team

chore: align coverage gating with repo scope
  .coveragerc
Owners: none

docs: add security capability development plan
  docs/security/security_capability_plan.md
Owners: @neuron7x/documentation-team

Sanitize analytics config logging
  analytics/runner.py
  analytics/tests/test_runner_safety.py
Owners: none

Handle unresolved Hydra interpolations when redacting config
  analytics/runner.py
  analytics/tests/test_runner_safety.py
Owners: none

Refine sensitive key detection
  analytics/runner.py
  analytics/tests/test_runner_safety.py
Owners: none

Avoid URL fixture triggering sanitization alert
  analytics/tests/test_runner_safety.py
Owners: none

feat(security): enforce oauth2 and mtls for api endpoints
  application/api/security.py
  application/api/service.py
  application/settings.py
  deploy/tradepulse-deployment.yaml
  docs/admin_remote_control.md
  docs/api/admin_remote_control_openapi.yaml
  interfaces/http/openapi/1.0.0.json
  pyproject.toml
  requirements.txt
  src/admin/remote_control.py
  tests/admin/test_remote_control.py
  tests/api/test_service.py
  tests/contracts/test_openapi_contracts.py
  tests/unit/test_admin_settings.py
Owners: @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

chore(deploy): remove inline secrets
  deploy/tradepulse-deployment.yaml
Owners: @neuron7x/devops-team

test(api): exercise OAuth security dependency
  tests/api/test_security_dependency.py
Owners: @neuron7x/qa-team

test: broaden request identity coverage
  tests/api/test_security_dependency.py
Owners: @neuron7x/qa-team

test: add amm cli coverage
  tests/unit/cli/test_amm_cli.py
Owners: @neuron7x/qa-team

Add tests for observability exporters lifecycle
  tests/unit/observability/test_exporters.py
Owners: @neuron7x/qa-team

Add configurable rate limiting and request filtering
  application/api/rate_limit.py
  application/api/service.py
  application/settings.py
  docs/rate-limits-and-host-protection.md
  requirements-dev.txt
  requirements.txt
  tests/api/test_service.py
Owners: @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

Add TLS configuration to Kafka event bus
  core/messaging/event_bus.py
  docs/deployment.md
  tests/unit/messaging/test_event_bus_extended.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

Enforce TLS for Postgres experiments
  DEPLOYMENT.md
  conf/experiment/prod.yaml
  conf/experiment/stage.yaml
  core/config/__init__.py
  core/config/cli_models.py
  core/config/postgres.py
  libs/db/__init__.py
  libs/db/postgres.py
  tests/unit/config/test_experiment_config.py
  tests/unit/libs/test_db_postgres.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Harden online feature stores
  core/data/feature_store.py
  docs/operational_handbook.md
  requirements.txt
  tests/unit/data/test_feature_store_additional.py
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/devops-team, @neuron7x/qa-team

Add durable audit persistence and SIEM retry handling
  application/settings.py
  docs/admin_remote_control.md
  src/audit/__init__.py
  src/audit/audit_logger.py
  src/audit/stores.py
  tests/integration/test_audit_persistence.py
Owners: @neuron7x/documentation-team, @neuron7x/qa-team
