Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

Implement market regime detector
  analytics/regime/src/core/main.py
  analytics/regime/tests/test_core.py
Owners: none

Add constrained position sizing with portfolio risk controls
  execution/order.py
  tests/unit/execution/test_order_sizing.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Scope OMS ledger storage to per-instance directories
  execution/live_loop.py
  execution/oms.py
Owners: @neuron7x/core-team

Scope OMS ledger storage to per-instance directories
  execution/oms.py
  tests/execution/test_order_ledger.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix OMS ledger default migration
  execution/oms.py
  tests/execution/test_order_ledger.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Clamp constrained sizing risk and respect zero leverage
  execution/order.py
  tests/unit/execution/test_order_sizing.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Handle missing correlations as neutral regime
  analytics/regime/src/core/main.py
Owners: none

Fix paper trading fill quantity normalization
  execution/paper_trading.py
  tests/execution/test_paper_trading.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Validate artifact names before storing registry files
  core/experiments/registry.py
  tests/unit/experiments/test_registry.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Harden experiment registry path handling
  src/data/experiment_registry.py
  tests/unit/data/test_experiment_registry.py
Owners: @neuron7x/qa-team

Fix tick gap alignment timezone handling
  core/data/normalization_pipeline.py
Owners: @neuron7x/data-team

Add institutional-grade portfolio stress testing analytics
  analytics/__init__.py
  analytics/portfolio_risk.py
  analytics/tests/test_portfolio_risk.py
Owners: none

feat(arbitrage): add cross-exchange coordination framework
  execution/arbitrage/__init__.py
  execution/arbitrage/capital.py
  execution/arbitrage/engine.py
  execution/arbitrage/liquidity.py
  execution/arbitrage/metrics.py
  execution/arbitrage/models.py
  tests/execution/test_arbitrage.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix(arbitrage): enforce min edge threshold
  execution/arbitrage/engine.py
Owners: @neuron7x/core-team

Add inventory management utilities and tighten ledger invariants
  execution/arbitrage/__init__.py
  execution/arbitrage/inventory.py
  execution/arbitrage/liquidity.py
  tests/execution/test_inventory_manager.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Guard liquidity commit mutations behind validation
  execution/arbitrage/liquidity.py
  tests/execution/test_inventory_manager.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Enforce inventory latency budgets with profiling
  execution/arbitrage/__init__.py
  execution/arbitrage/inventory.py
  execution/arbitrage/liquidity.py
  tests/execution/test_inventory_manager.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Document queue and backpressure policies
  docs/index.md
  docs/queue_and_backpressure.md
Owners: @neuron7x/documentation-team

Fix benchmark guard messaging for concurrent runs
  tests/performance/conftest.py
  tests/performance/test_benchmark_guard.py
Owners: @neuron7x/qa-team

Fix benchmark guard messaging for concurrent runs
  tests/performance/conftest.py
  tests/performance/test_benchmark_guard.py
Owners: @neuron7x/qa-team

Align benchmark summary with median metric
  tests/performance/conftest.py
  tests/performance/test_terminal_summary.py
Owners: @neuron7x/qa-team

Fix benchmark reporting thresholds and labels
  tests/performance/conftest.py
  tests/performance/test_conftest_unit.py
Owners: @neuron7x/qa-team

Add deletion capability to experiment registry
  src/data/experiment_registry.py
  tests/unit/data/test_experiment_registry.py
Owners: @neuron7x/qa-team

Fix health metrics collector usage and normalization guard
  application/api/service.py
  core/data/normalization_pipeline.py
  tests/api/test_service.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Add schema contract validation for event models
  core/messaging/__init__.py
  core/messaging/contracts.py
  core/messaging/schema_registry.py
  tests/unit/messaging/test_schema_contracts.py
  tests/unit/messaging/test_schema_registry.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat(execution): add plugin registry for broker adapters
  execution/adapters/__init__.py
  execution/adapters/binance.py
  execution/adapters/coinbase.py
  execution/adapters/plugin.py
  tests/execution/test_adapter_registry.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat: sandboxed strategy evaluation
  core/agent/evaluator.py
  core/agent/sandbox.py
  tests/unit/test_agent_evaluator.py
  tests/unit/test_strategy_sandbox.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add tamper-evident audit ledger store
  src/audit/__init__.py
  src/audit/stores.py
  tests/integration/test_audit_persistence.py
Owners: @neuron7x/qa-team

docs: add DLP and retention policy playbook
  docs/security/dlp_and_retention.md
  mkdocs.yml
Owners: @neuron7x/documentation-team

Add centralized secret vault, rotation utilities, and scanning
  application/secrets/manager.py
  application/secrets/rotation.py
  application/secrets/secure_channel.py
  application/secrets/vault.py
  tests/security/test_secret_vault.py
  tests/tools/test_secret_scanner.py
  tools/compliance/secret_scanner.py
Owners: @neuron7x/qa-team

Add supply-chain security automation tooling
  Makefile
  SECURITY.md
  configs/security/denylist.yaml
  scripts/cli.py
  scripts/commands/__init__.py
  scripts/commands/supply_chain.py
  scripts/supply_chain.py
  scripts/tests/test_supply_chain.py
Owners: @neuron7x/security-team

Fix denylist evaluation for multiple rules
  scripts/supply_chain.py
Owners: none

fix: relax sandbox start method selection
  core/agent/sandbox.py
Owners: @neuron7x/core-team

Add disaster recovery runbook and evidence archive
  docs/index.md
  docs/operational_handbook.md
  docs/runbook_disaster_recovery.md
  reports/disaster-recovery/README.md
Owners: @neuron7x/documentation-team

Add blue-green rollout orchestrator with guardrails
  execution/__init__.py
  execution/rollout.py
  tests/unit/execution/test_rollout.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Ensure rollout monitoring enforces step max duration
  execution/rollout.py
Owners: @neuron7x/core-team

Guard historical shock evaluation from invalid portfolio values
  analytics/portfolio_risk.py
  analytics/tests/test_portfolio_risk.py
Owners: none

Use pandera pandas namespace
  core/data/validation.py
Owners: @neuron7x/data-team

docs: add numeric determinism testing playbook
  docs/index.md
  docs/numeric_determinism.md
Owners: @neuron7x/documentation-team

Add standardized incident and postmortem templates
  docs/runbook_data_incident.md
  reports/incidents/README.md
  reports/incidents/action_item_register.md
  reports/incidents/incident_report_template.md
  reports/incidents/postmortem_template.md
Owners: @neuron7x/documentation-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================
