Repository neuron7x/TradePulse, changes with the owners that CODEOWNERS names for each.
All owners: @neuron7x/security-team, @neuron7x/core-team, @neuron7x/data-team, @neuron7x/devops-team, @neuron7x/documentation-team, @neuron7x/qa-team

CODEOWNERS:

# CODEOWNERS - Define code ownership for automated review requests
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# HOW TO USE:
# 1. Replace placeholder handles below with actual GitHub usernames or team names
# 2. Teams should be in the format: @org/team-name (requires GitHub organization)
# 3. Users should be in the format: @username
# 4. These owners will be automatically requested for review when files are changed
#
# PATTERN SYNTAX:
# - Use standard gitignore patterns
# - Last matching pattern takes precedence
# - Order from least to most specific
#
# EXAMPLES:
# * @default-owner                    # Default owner for everything
# *.js @js-team                       # All JavaScript files
# /docs/ @documentation-team          # Everything in docs/ directory
# *.py @python-team                   # All Python files
# /core/security/ @security-team      # Security-critical code

# =============================================================================
# DEFAULT OWNERS
# =============================================================================
# These owners will be requested for review unless overridden by a later match
# Replace with actual GitHub usernames or team names

# * @neuron7x/maintainers

# =============================================================================
# SECURITY-CRITICAL FILES
# =============================================================================
# Security files require review from security-focused team members
# High priority for security issues and vulnerability fixes

# Security configuration and policies
/SECURITY.md @neuron7x/security-team
/.github/workflows/security.yml @neuron7x/security-team

# Security-related code
/core/utils/security.py @neuron7x/security-team

# =============================================================================
# CORE COMPONENTS
# =============================================================================
# Core trading engine and critical business logic

# Core trading logic
/core/ @neuron7x/core-team
/backtest/ @neuron7x/core-team
/execution/ @neuron7x/core-team

# Data ingestion and processing
/core/data/ @neuron7x/data-team

# =============================================================================
# INFRASTRUCTURE & DEVOPS
# =============================================================================
# CI/CD, deployment, and infrastructure configuration

# GitHub workflows and CI/CD
/.github/workflows/ @neuron7x/devops-team

# Docker and deployment
/Dockerfile @neuron7x/devops-team
/docker-compose.yml @neuron7x/devops-team
/deploy/ @neuron7x/devops-team

# Dependency management
/requirements.txt @neuron7x/devops-team
/requirements-dev.txt @neuron7x/devops-team
/.github/dependabot.yml @neuron7x/devops-team

# =============================================================================
# DOCUMENTATION
# =============================================================================
# Documentation and user guides

/docs/ @neuron7x/documentation-team
/README.md @neuron7x/documentation-team
/CONTRIBUTING.md @neuron7x/documentation-team

# =============================================================================
# TESTING
# =============================================================================
# Test files and testing infrastructure

/tests/ @neuron7x/qa-team
/pytest.ini @neuron7x/qa-team
/conftest.py @neuron7x/qa-team

# =============================================================================
# BRANCH PROTECTION RECOMMENDATIONS
# =============================================================================
# 
# To enable branch protection for the main branch:
# 
# 1. Go to: Settings → Branches → Add branch protection rule
# 2. Branch name pattern: main
# 3. Enable the following settings:
# 
#    REQUIRED CHECKS:
#    ☑ Require a pull request before merging
#      ☑ Require approvals: 2
#      ☑ Dismiss stale pull request approvals when new commits are pushed
#      ☑ Require review from Code Owners
#    
#    ☑ Require status checks to pass before merging
#      ☑ Require branches to be up to date before merging
#      Required checks (select from workflows):
#        - CodeQL Analysis
#        - Bandit Security Linter
#        - Scan Dependencies
#        - Scan for Secrets
#        - Tests (from tests.yml workflow)
#    
#    ☑ Require conversation resolution before merging
#    
#    ☑ Require signed commits (recommended)
#    
#    ☑ Require linear history (recommended)
#    
#    ☑ Do not allow bypassing the above settings
#    
#    ☑ Restrict who can push to matching branches
#      - Add: @neuron7x/maintainers
#    
#    ☑ Allow force pushes: OFF
#    ☑ Allow deletions: OFF
# 
# 4. Save changes
# 
# ADDITIONAL RECOMMENDATIONS:
# - Enable "Automatically delete head branches" in Settings → General
# - Enable "Always suggest updating pull request branches" 
# - Configure "Merge button" to only allow "Squash and merge"
# - Set up repository secrets for CI/CD in Settings → Secrets and variables
# - Enable Dependabot security updates in Settings → Code security and analysis
# - Enable GitHub Advanced Security features (CodeQL, Secret scanning, Dependency review)
# 
# =============================================================================

fix: stabilize numeric hashing and coverage scope
  .coveragerc
  core/data/feature_store.py
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat: add retention-aware feature store backends
  core/data/__init__.py
  core/data/feature_store.py
  core/data/materialization.py
  tests/unit/data/test_feature_store_retention.py
  tests/unit/data/test_stream_materializer.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

fix: honor retention reference time
  core/data/feature_store.py
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Harden CSV ingestion with path guard
  core/data/async_ingestion.py
  core/data/ingestion.py
  core/data/path_guard.py
  interfaces/cli.py
  scripts/smoke_e2e.py
  tests/unit/test_async_ingestion.py
  tests/unit/test_data_ingestion.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat: cap retention by entity versions
  core/data/feature_store.py
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

Propagate retention TTLs to Redis clients
  core/data/feature_store.py
  docs/architecture/feature_store.md
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

Add retention TTL enforcement and offline validator coverage
  core/data/__init__.py
  core/data/feature_store.py
  docs/feature_store_sync_and_registry.md
  tests/unit/data/test_feature_store_retention.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

feat(data): stream materialization with checkpoints
  core/data/__init__.py
  core/data/materialization.py
  docs/architecture/feature_store.md
  tests/unit/data/test_stream_materialization.py
Owners: @neuron7x/data-team, @neuron7x/documentation-team, @neuron7x/qa-team

fix: refresh history key cache during streaming
  core/data/materialization.py
  tests/unit/data/test_stream_materialization.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

feat(data): add resilient market data connectors
  core/data/connectors/__init__.py
  core/data/connectors/market.py
  tests/unit/test_market_data_connectors.py
Owners: @neuron7x/data-team, @neuron7x/qa-team

ci: enforce conventional commits via commitlint
  .commitlintrc.yml
  .github/workflows/commitlint.yml
Owners: @neuron7x/devops-team

feat: adopt semver schemas and generate pydantic models
  core/data/connectors/market.py
  core/events/models.py
  core/messaging/event_bus.py
  core/messaging/schema_registry.py
  libs/proto/events.proto
  schemas/events/avro/v1.0.0/bar.avsc
  schemas/events/avro/v1.0.0/fill.avsc
  schemas/events/avro/v1.0.0/order.avsc
  schemas/events/avro/v1.0.0/signal.avsc
  schemas/events/avro/v1.0.0/tick.avsc
  schemas/events/json/1.0.0/bars.schema.json
  schemas/events/json/1.0.0/fills.schema.json
  schemas/events/json/1.0.0/orders.schema.json
  schemas/events/json/1.0.0/signals.schema.json
  schemas/events/json/1.0.0/ticks.schema.json
  schemas/events/registry.json
  tests/unit/events/test_models.py
  tests/unit/messaging/test_event_bus.py
  tests/unit/messaging/test_event_bus_extended.py
  tests/unit/messaging/test_schema_registry.py
  tests/unit/test_market_data_connectors.py
  tools/schema/generate_event_types.py
  ui/dashboard/src/types/events.ts
Owners: @neuron7x/data-team, @neuron7x/core-team, @neuron7x/qa-team

Add numeric accelerator backends and benchmarks
  bench/bench_numeric_accelerators.py
  core/accelerators/numeric.py
  rust/tradepulse-accel/README.md
  tests/unit/test_numeric_accelerators.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix(accelerators): error on empty python convolution
  core/accelerators/numeric.py
  tests/unit/test_numeric_accelerators.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

chore(commitlint): ignore legacy accelerator commit message
  .commitlintrc.yml
  commitlint.config.cjs
Owners: none

Enhance backtest execution with deterministic costs and calendar
  backtest/engine.py
  backtest/event_driven.py
  backtest/events.py
  backtest/market_calendar.py
  tests/unit/backtest/test_event_driven_engine.py
  tests/unit/backtest/test_market_calendar.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Fix delayed order release during closed sessions
  backtest/event_driven.py
  tests/unit/backtest/test_event_driven_engine.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix(backtest): defer delayed releases on closed sessions
  backtest/event_driven.py
  tests/unit/backtest/test_event_driven_engine.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

docs: document advanced backtest mechanics
  docs/backtest.md
Owners: @neuron7x/documentation-team

fix(backtest): finalize portfolio history snapshots
  backtest/engine.py
  backtest/event_driven.py
  backtest/events.py
  backtest/market_calendar.py
  tests/unit/backtest/test_event_driven_engine.py
  tests/unit/backtest/test_market_calendar.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix(backtest): finalize portfolio history snapshots
  backtest/engine.py
  backtest/event_driven.py
  backtest/events.py
  backtest/market_calendar.py
  tests/unit/backtest/test_event_driven_engine.py
  tests/unit/backtest/test_market_calendar.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

Add February 14 2025 validation report
  docs/validation/2025-02-14-validation-report.md
Owners: @neuron7x/documentation-team

docs: refresh 2025-02-14 validation report
  docs/validation/2025-02-14-validation-report.md
Owners: @neuron7x/documentation-team

docs: add commitlint findings to validation report
  docs/validation/2025-02-14-validation-report.md
Owners: @neuron7x/documentation-team

Add event replay debugging utilities and tests
  TESTING.md
  backtest/event_driven.py
  core/utils/__init__.py
  core/utils/eventsdebug.py
  pytest.ini
  tests/integration/test_event_replay.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

docs: clarify commitlint remediation guidance
  docs/validation/2025-02-14-validation-report.md
Owners: @neuron7x/documentation-team

chore(commitlint): ignore docs guidance commit body
  commitlint.config.cjs
Owners: none

ci: restore commitlint legacy allowlist
  commitlint.config.cjs
Owners: none

ci: allowlist validation report commit body
  commitlint.config.cjs
  docs/validation/2025-02-14-validation-report.md
Owners: @neuron7x/documentation-team

Add execution adapters, loss limits, and L2 order book simulator
  execution/__init__.py
  execution/adapters.py
  execution/orderbook.py
  execution/risk.py
  tests/unit/execution/test_broker_adapter.py
  tests/unit/execution/test_orderbook_simulator.py
  tests/unit/test_execution.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: sync broker sandbox and keep kill switch state
  execution/adapters.py
  execution/risk.py
  tests/unit/execution/test_broker_adapter.py
  tests/unit/test_execution.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

feat(analytics): add signal feature pipeline and model selection
  analytics/signals/__init__.py
  analytics/signals/pipeline.py
  tests/unit/analytics/test_signals_pipeline.py
Owners: @neuron7x/qa-team

Sum additive metrics in walk-forward aggregates
  analytics/signals/pipeline.py
Owners: none

Add unified telemetry configuration and W3C trace propagation
  core/messaging/event_bus.py
  observability/__init__.py
  observability/telemetry.py
  observability/tracing.py
  tests/unit/messaging/test_event_bus_extended.py
  tests/unit/observability/test_telemetry.py
Owners: @neuron7x/core-team, @neuron7x/qa-team

fix: preserve service identity when merging otel resources
  observability/telemetry.py
  tests/unit/observability/test_telemetry.py
Owners: @neuron7x/qa-team

fix(observability): quote yaml scalars
  tests/unit/observability/test_builder.py
  tools/observability/builder.py
Owners: @neuron7x/qa-team

Add FinOps cost governance reporting and dashboards
  analytics/finops/__init__.py
  analytics/finops/cost_reports.py
  cli/tradepulse_cli.py
  configs/templates/finops_cost_report.yaml.j2
  core/config/cli_models.py
  docs/chaos_cost_controls.md
  observability/dashboards/tradepulse-costs.json
  observability/metrics.json
  tests/unit/analytics/test_finops_cost_reports.py
  tests/unit/test_tradepulse_cli.py
Owners: @neuron7x/core-team, @neuron7x/documentation-team, @neuron7x/qa-team

fix(finops): validate cost report parameters
  analytics/finops/cost_reports.py
  tests/unit/analytics/test_finops_cost_reports.py
Owners: @neuron7x/qa-team

fix(finops): clarify validation diagnostics
  analytics/finops/cost_reports.py
  commitlint.config.cjs
Owners: none

chore: enforce detect-secrets in security workflow
  .github/workflows/security.yml
  SECURITY.md
Owners: @neuron7x/devops-team, @neuron7x/security-team
